src/pug/pages/404.pug
extends ../layout/empty-layout.pug

block content
    .not-found.flex-center
        .text-center
            h1 404
            p Something's wrong here, we can’t find the page you are looking for
            .actions.flex
                ="\n"
                a(href="contact.html")
                    i.icon-info
                    | If you have any questions, contact us
                ="\n"
                a(href="index.html")
                    i.icon-arrow-longer
                    | Back to home

dist/404.html
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Azerbaijan Hotel Association</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>
		<div class="lds-css ng-scope">
			<div class="lds-spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<main class="content">
			<div class="not-found flex-center">
				<div class="text-center">
					<h1>404</h1>
					<p>Something's wrong here, we can’t find the page you are looking for</p>
					<div class="actions flex">
						<a href="contact.html"><i class="icon-info"></i>If you have any questions, contact us</a>
						<a href="index.html"><i class="icon-arrow-longer"></i>Back to home</a>
					</div>
				</div>
			</div>
		</main>

		<script src="js/jquery.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>

</html>
