dist/associate-membership.html
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Azerbaijan Hotel Association</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>
		<div class="lds-css ng-scope">
			<div class="lds-spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<header>
			<div class="header-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="theme-toggler"><i class="icon-glasses"></i></div>
							<!-- Toggle theme-->

							<div class="sitemap">
								<a class="flex" href="sitemap.html"><i class="icon-list"></i>Sitemap
								</a>
							</div>
							<!-- Sitemap-->

							<div class="toggle-search" data-toggle="modal" data-target="#modal-search"><i class="icon-search"></i></div>
							<!-- Toggle search-->

							<div class="langs">
								<div class="dropdown">
									<button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
										EN<i class="icon-dropdown-arrow"></i>
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">RU</a>
										<a class="dropdown-item" href="#">AZ</a>
									</div>
								</div>
							</div>
							<!-- Langs-->
						</div>
					</div>
				</div>
			</div>
			<!-- Header top-->

			<div class="header-bottom">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="logo">
								<a href="index.html">
									<img src="images/logo.svg">
								</a>
							</div>
							<!-- Logo-->

							<nav class="main-menu hidden-1024">
								<ul>
									<li>
										<a href="javascript:void(0)">About Us</a>

										<ul class="submenu">
											<li>
												<a href="about.html">About Association</a>
											</li>
											<li>
												<a href="team.html">Team members</a>
											</li>
											<li>
												<a href="contact.html">Contact us</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="events.html">Events & Trainings</a>
									</li>
									<li>
										<a href="news.html">News & Media</a>
									</li>
									<li>
										<a href="javascript:void(0)">Membership</a>

										<ul class="submenu">
											<li>
												<a href="regular-membership.html">Regular membership</a>
											</li>
											<li>
												<a href="associate-membership.html">Associate membership</a>
											</li>
											<li>
												<a href="sponsorship.html">Sponsorship</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="classification.html">Classification</a>
									</li>
									<li>
										<a href="javascript:void(0)">Reports</a>

										<ul class="submenu">
											<li>
												<a href="statistics.html">Statistics reports</a>
											</li>
											<li>
												<a href="reports.html">Trends reports</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0)">Member's area</a>

										<ul class="submenu">
											<li>
												<a href="cabinet-upcoming-events.html">
													<i class="icon-hotel"></i>Bilgah Beach Hotel
												</a>
											</li>
											<li>
												<a href="account-index.html">
													<i class="icon-settings"></i>Account Setings
												</a>
											</li>
											<li>
												<a href="#">
													<i class="icon-logout"></i>Logout
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</nav>
							<!-- Main menu-->

							<div class="menu-toggler visible-1024">
								<span></span>
								<span></span>
								<span></span>
							</div>
							<!-- Menu toggler-->
						</div>
					</div>
				</div>
			</div>
			<!-- Header bottom-->

			<div class="side-menu visible-1024">
				<ul>
					<li>
						<a href="#menu-item0" data-toggle="collapse" aria-expanded="false">About Us</a>

						<div class="collapse" id="menu-item0">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="about.html">About Association</a>
									</li>
									<li>
										<a href="team.html">Team members</a>
									</li>
									<li>
										<a href="contact.html">Contact us</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="events.html">Events & Trainings</a>
					</li>
					<li>
						<a href="news.html">News & Media</a>
					</li>
					<li>
						<a href="#menu-item1" data-toggle="collapse" aria-expanded="false">Membership</a>

						<div class="collapse" id="menu-item1">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="regular-membership.html">Regular membership</a>
									</li>
									<li>
										<a href="associate-membership.html">Associate membership</a>
									</li>
									<li>
										<a href="sponsorship.html">Sponsorship</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="classification.html">Classification</a>
					</li>
					<li>
						<a href="#menu-item2" data-toggle="collapse" aria-expanded="false">Reports</a>

						<div class="collapse" id="menu-item2">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="statistics.html">Statistics reports</a>
									</li>
									<li>
										<a href="trends.html">Trends reports</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="#menu-item3" data-toggle="collapse" aria-expanded="false">Members area</a>

						<div class="collapse" id="menu-item3">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="cabinet-upcoming-events.html">Bilgah Beach Hotel</a>
									</li>
									<li>
										<a href="account-index.html">Account Settings</a>
									</li>
									<li>
										<a href="#">Logout</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- Side menu-->
		</header>
		<!-- Header-->


		<div class="modal" id="modal-search" tabindex="-1">
			<div class="close-modal" data-dismiss="modal">
				<i class="icon-times"></i>
			</div>

			<div class="modal-dialog">
				<div class="modal-content">
					<form class="search-form" action="#" method="GET">
						<div class="form-group">
							<input class="form-control" type="text" minlength="3" placeholder="Search" required>
						</div>

						<button class="submit-search" type="submit">
							<i class="icon-search"></i>
						</button>

						<button class="clear-search" type="button">
							<i class="icon-times"></i>
						</button>
					</form>
					<!-- Search form-->

					<div class="search-results">
						<div class="search-item flex">
							<div class="image">
								<a href="#">
									<img src="images/events/image0.jpg">
								</a>
							</div>
							<div class="info"><a class="title" href="#">International Conference on Application of Information and Communication Technologies</a>
								<div class="description">
									<p>Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details...<a href="#">Read More</a></p>
								</div>
							</div>
						</div>
						<!-- Search item-->

						<div class="search-item flex">
							<div class="image">
								<a href="#">
									<img src="images/events/image1.jpg">
								</a>
							</div>
							<div class="info"><a class="title" href="#">International Conference on Application of Information and Communication Technologies</a>
								<div class="description">
									<p>Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details...<a href="#">Read More</a></p>
								</div>
							</div>
						</div>
						<!-- Search item-->
					</div>
					<!-- Search results-->

					<div class="latest-trainings hidden-768">
						<div class="row">
							<div class="col-12">
								<h3 class="block-title">Latest events & trainings</h3>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image0.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">45th International Association for Educational Assessment Conference</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image1.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">CIS & Eastern Europe Coatings Conference</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image2.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">International Conference on Application of Information and Communication Technologies</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->
						</div>
					</div>
					<!-- Latest events & trainings-->
				</div>
			</div>
		</div>
		<!-- Modal Search-->

		<main class="content">
			<div class="breadcrumb-container">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<nav>
								<ol class="breadcrumb">
									<li class="breadcrumb-item">
										<a href="index.html">Home</a>
									</li>
									<li class="breadcrumb-item">Associate membership</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- Breadcrumbs-->

			<section class="associate-membership">
				<div class="page-intro centered">
					<div class="intro-content cover-center" style="background-image: url(images/associate-membership-bg.jpg)"></div>

					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<h1 class="title" data-aos="zoom-in" data-aos-duration="1500">Associate membership</h1>
								<p data-aos="fade-in" data-aos-duration="1500">Associate members are organizations with a vested interest in a strong hospitality industry and a valued part of AHA. </p>
							</div>
						</div>
					</div>
				</div>
				<!-- Page intro -->

				<div class="page-categories">
					<ul class="flex">
						<li>
							<a href="regular-membership.html">Regular membership</a>
						</li>
						<li class="active">
							<a href="associate-membership.html">Associate membership</a>
						</li>
					</ul>
				</div>
				<!-- Page categories-->

				<div class="page-short-text ptb-10" data-aos="fade-in" data-aos-duration="1200">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xl-10 offset-xl-1">
								<div class="editor-body text-center">
									<h2>Benefits of Membership</h2>
									<p>Associate members are organizations (supplier, service provider, bank, consultant, educational institution etc.) with a vested interest in a strong hospitality industry and a valued part of AHA. Associate members leverage AHA as an efficient platform to demonstrate industry support, increase brand visibility and build their business. Primarily comprised of key decision makers in the hospitality industry’s various segments, our members value their supplier relationships and Allied support of AHA. There are two types of Associate Members.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Page short text-->

				<div class="membership-types" data-aos="fade-in" data-aos-duration="1200">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-6">
								<div class="membership-type flex">
									<div class="info">
										<div class="icon-wrapper flex">
											<div class="icon">
												<img src="images/icons/hotel.svg">
											</div>
											<!-- Icon-->
											<h3 class="name">Members Benefits</h3>
										</div>
										<!-- Icon wrapper-->
										<div class="description">
											<ul>
												<li>The AHA logo to use on your marketing material.</li>
												<li>Access to the Online Directory of Members, emailed to you quarterly and posted on AHA website with Member authorization.</li>
												<li>A free listing in AHA Member Directory annual printed Members’ guide and online directory.</li>
												<li>Sponsorship and partnership opportunities, only available to Associate members.</li>
												<li>Access to complimentary webinars and the member-only sections of hotelassociation.az</li>
												<li>Free use of AHA research and access to AHA’s Information archive.</li>
												<li>Monthly report on Tourism In-comings and trend report.</li>
											</ul>
										</div>
									</div>

									<div class="pricing">
										<p class="fee">Fee for Associate Membership</p><span>Monthly report on Tourism In-comings and trend report</span>

										<p class="price">
<strong>2,500 AZN / year</strong>
                    </p>
									</div>
									<!-- Pricing-->
								</div>
								<!-- Membership type-->
							</div>
							<!-- Col-->

							<div class="col-lg-6">
								<div class="membership-type flex">
									<div class="info">
										<div class="icon-wrapper flex">
											<div class="icon">
												<img src="images/icons/hotel-star.svg">
											</div>
											<!-- Icon-->
											<h3 class="name">Exclusive Members Benefits</h3>
										</div>
										<!-- Icon wrapper-->
										<div class="description">
											<ul>
												<li>In addition to above mentioned benefits, exclusive associate members: </li>
												<li>Undertakes the performance of organizing and hosting co-joint events such as seminars, training, product presentations etc. </li>
												<li>Offers with special discounts to be offered to Regular Members and placed on Website under special offerings according to communication with AHA Executive Office </li>
												<li>Participation in AHA events and being part of the hospitality leaders Platform</li>
											</ul>
										</div>
									</div>

									<div class="pricing">
										<p class="fee">Fee for Exclusive Associate Membership</p><span>Monthly report on Tourism In-comings and trend report</span>

										<p class="price">
<strong>min. 5,000 AZN / year</strong>
                    </p>
									</div>
									<!-- Pricing-->
								</div>
								<!-- Membership type-->
							</div>
							<!-- Col-->
						</div>
					</div>
				</div>
				<!-- Membership types-->

				<div class="partners members ptb-12-10" data-aos="fade-in" data-aos-duration="1200">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12 text-center">
								<h2 class="section-title">Our Members</h2>
								<p class="subtitle">The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.</p>

								<div class="swiper-container partners-slider">
									<div class="swiper-wrapper">
										<div class="swiper-slide no-swipe">
											<div class="partner-block">
												<div class="image flex-center">
													<a href="#" target="_blank">
														<img class="swiper-lazy" data-src="images/partners/image0.png">
													</a>
												</div>
												<div class="name text-center">
													<a href="#" target="_blank">European Investment Bank</a>
												</div>
											</div>
										</div>

										<div class="swiper-slide no-swipe">
											<div class="partner-block">
												<div class="image flex-center">
													<a href="#" target="_blank">
														<img class="swiper-lazy" data-src="images/partners/image1.png">
													</a>
												</div>
												<div class="name text-center">
													<a href="#" target="_blank">Embasy United States of America</a>
												</div>
											</div>
										</div>

										<div class="swiper-slide no-swipe">
											<div class="partner-block">
												<div class="image flex-center">
													<a href="#" target="_blank">
														<img class="swiper-lazy" data-src="images/partners/image2.png">
													</a>
												</div>
												<div class="name text-center">
													<a href="#" target="_blank">Middlesex University</a>
												</div>
											</div>
										</div>

										<div class="swiper-slide no-swipe">
											<div class="partner-block">
												<div class="image flex-center">
													<a href="#" target="_blank">
														<img class="swiper-lazy" data-src="images/partners/image3.png">
													</a>
												</div>
												<div class="name text-center">
													<a href="#" target="_blank">European Union</a>
												</div>
											</div>
										</div>

										<div class="swiper-slide no-swipe">
											<div class="partner-block">
												<div class="image flex-center">
													<a href="#" target="_blank">
														<img class="swiper-lazy" data-src="images/partners/image4.png">
													</a>
												</div>
												<div class="name text-center">
													<a href="#" target="_blank">Ministry of Taxex of Azerbaijan Republic</a>
												</div>
											</div>
										</div>

										<div class="swiper-slide no-swipe">
											<div class="partner-block">
												<div class="image flex-center">
													<a href="#" target="_blank">
														<img class="swiper-lazy" data-src="images/partners/image5.png">
													</a>
												</div>
												<div class="name text-center">
													<a href="#" target="_blank">Baku 2015 1st European Games</a>
												</div>
											</div>
										</div>

										<div class="swiper-slide no-swipe">
											<div class="partner-block">
												<div class="image flex-center">
													<a href="#" target="_blank">
														<img class="swiper-lazy" data-src="images/partners/image1.png">
													</a>
												</div>
												<div class="name text-center">
													<a href="#" target="_blank">Embasy United States of America</a>
												</div>
											</div>
										</div>
									</div>

									<div class="swiper-pagination visible-1024"></div>
								</div>
								<!-- Slider container-->
							</div>
							<!-- Col-->

							<div class="col-12">
								<div class="become-one text-center">

									<button class="btn-custom">Become a member</button>

									<p>The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced</p>
								</div>
								<!-- Become a member-->
							</div>
						</div>
					</div>
				</div>
				<!-- Partners-->

			</section>
		</main>

		<footer>
			<div class="footer-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Introduction</a></li>
								<li><a href="#">Our Goals</a></li>
								<li><a href="#">Organization of the Association</a></li>
								<li><a href="#">Statue</a></li>
								<li><a href="#">Code of Ethics</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Membership</a></li>
								<li><a href="#">Membership benefits and conditions</a></li>
								<li><a href="#">Become a Member</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Events & Trainings</a></li>
								<li><a href="#">Calendar</a></li>
								<li><a href="#">Search event</a></li>
								<li><a href="#">Registration for Event or Training</a></li>
								<li><a href="#">Event archive</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">News & Media</a></li>
								<li><a href="#">Calendar</a></li>
								<li><a href="#">Search news</a></li>
								<li><a href="#">Subscribe for News</a></li>
								<li><a href="#">Event archive</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Classification</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
							<div class="contact-info">
								<p>Marketing Department</p><a class="phone" href="tel:8-(800)-700-43-43">8 (800) 700-43-43</a>
								<a class="email" href="mailto:office@tourismboard.az"><i class="icon-mail"></i>office@tourismboard.az</a>

								<ul class="socials">
									<li>
										<a href="https://facebook.com" target="_blank"><i class="icon-facebook"></i></a>
									</li>
									<li>
										<a href="https://twitter.com" target="_blank"><i class="icon-twitter"></i></a>
									</li>
									<li>
										<a href="https://instagram.com" target="_blank"><i class="icon-instagram"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<!-- Col-->
					</div>
				</div>
			</div>
			<!-- Footer top-->

			<div class="footer-bottom hidden-576">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="theme-toggler"><i class="icon-glasses"></i></div>
							<!-- Toggle theme-->

							<div class="sitemap">
								<a class="flex" href="sitemap.html"><i class="icon-list"></i>Sitemap
								</a>
							</div>
							<!-- Sitemap-->

							<div class="toggle-search" data-toggle="modal" data-target="#modal-search"><i class="icon-search"></i></div>
							<!-- Toggle search-->

							<div class="langs">
								<div class="dropdown">
									<button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
										EN<i class="icon-dropdown-arrow"></i>
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">RU</a>
										<a class="dropdown-item" href="#">AZ</a>
									</div>
								</div>
							</div>
							<!-- Langs-->
						</div>
					</div>
				</div>
			</div>
			<!-- Footer bottom-->

			<div class="copyrights">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<p>© 2019. Azerbaijan Hotel Association</p>

							<ul>
								<li><a href="terms.html">Terms and conditions</a></li>
								<li><a href="policy.html">Privacy policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Copyrights-->
		</footer>

		<script src="js/jquery.js"></script>
		<script src="js/toastr.js"></script>
		<script src="js/photoUpload.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>

</html>

src/pug/pages/associate-membership.pug
extends ../layout/layout.pug

block content
    .breadcrumb-container
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item Associate membership
    // Breadcrumbs
    |
    |
    section.associate-membership
        .page-intro.centered
            .intro-content.cover-center(style="background-image: url("+ require("../../images/associate-membership-bg.jpg") +")")
            |
            |
            .container-fluid
                .row
                    .col-12
                        h1.title(data-aos="zoom-in" data-aos-duration="1500") Associate membership
                        p(data-aos="fade-in" data-aos-duration="1500") Associate members are organizations with a vested interest in a strong hospitality industry and a valued part of AHA. 
        // Page intro 
        |
        |
        .page-categories
            ul.flex
                li
                    ="\n"
                    a(href="regular-membership.html") Regular membership
                li.active
                    ="\n"
                    a(href="associate-membership.html") Associate membership
        // Page categories
        |
        |
        .page-short-text.ptb-10(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-xl-10.offset-xl-1
                        .editor-body.text-center
                            h2 Benefits of Membership
                            p Associate members are organizations (supplier, service provider, bank, consultant, educational institution etc.) with a vested interest in a strong hospitality industry and a valued part of AHA. Associate members leverage AHA as an efficient platform to demonstrate industry support, increase brand visibility and build their business. Primarily comprised of key decision makers in the hospitality industry’s various segments, our members value their supplier relationships and Allied support of AHA. There are two types of Associate Members.
        // Page short text
        |
        |
        .membership-types(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-lg-6
                        .membership-type.flex
                            .info
                                .icon-wrapper.flex
                                    .icon
                                        ="\n"
                                        img(src=require("../../images/icons/hotel.svg"))
                                    // Icon
                                    h3.name Members Benefits
                                // Icon wrapper
                                .description
                                    ul
                                        li The AHA logo to use on your marketing material.
                                        li Access to the Online Directory of Members, emailed to you quarterly and posted on AHA website with Member authorization.
                                        li A free listing in AHA Member Directory annual printed Members’ guide and online directory.
                                        li Sponsorship and partnership opportunities, only available  to  Associate members.
                                        li Access to complimentary webinars and the member-only sections of hotelassociation.az
                                        li Free use of AHA research and access to AHA’s Information archive.
                                        li Monthly report on Tourism In-comings and trend report.
                            |
                            |
                            .pricing
                                p.fee Fee for Associate Membership
                                span Monthly report on Tourism In-comings and trend report
                                ="\n"
                                p.price
                                    ="\n"
                                    strong 2,500 AZN / year
                            // Pricing
                        // Membership type
                    // Col
                    |
                    |
                    .col-lg-6
                        .membership-type.flex
                            .info
                                .icon-wrapper.flex
                                    .icon
                                        ="\n"
                                        img(src=require("../../images/icons/hotel-star.svg"))
                                    // Icon
                                    h3.name Exclusive Members Benefits
                                // Icon wrapper
                                .description
                                    ul
                                        li In addition to above mentioned benefits, exclusive associate members: 
                                        li Undertakes the performance of organizing and hosting co-joint events such as seminars, training, product presentations etc. 
                                        li Offers with special discounts to be offered to Regular Members and placed on Website under special offerings according to communication with AHA Executive Office 
                                        li Participation in AHA events and being part of the hospitality leaders Platform
                            |
                            |
                            .pricing
                                p.fee Fee for Exclusive Associate Membership
                                span Monthly report on Tourism In-comings and trend report
                                ="\n"
                                p.price
                                    ="\n"
                                    strong min. 5,000 AZN / year
                            // Pricing
                        // Membership type
                    // Col
        // Membership types
        |
        |
        .partners.members.ptb-12-10(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-12.text-center
                        h2.section-title Our Members
                        p.subtitle The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.
                        |
                        |
                        .swiper-container.partners-slider
                            .swiper-wrapper
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image0.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") European Investment Bank
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image1.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Embasy United States of America
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image2.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Middlesex University
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image3.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") European Union
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image4.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Ministry of Taxex of Azerbaijan Republic
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image5.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Baku 2015 1st European Games
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image1.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Embasy United States of America
                            |
                            |
                            .swiper-pagination.visible-1024
                        // Slider container
                    // Col
                    |
                    |
                    .col-12
                        .become-one.text-center
                            ="\n"
                            button(class="btn-custom") Become a member
                            |
                            |
                            p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced
                        // Become a member
        // Partners
        |
        |
