src/pug/pages/cabinet-faq.pug
extends ../layout/layout.pug

block content
    section.cabinet.faq
        .cover-photo
            ="\n"
            img(src=require("../../images/cabinet/cover.jpg"))
        // Cover photo
        |
        |
        .avatar-section
            .container-fluid
                .row
                    .col-12
                        .avatar-wrapper.flex
                            .left
                                .avatar
                                    ="\n"
                                    img(src=require("../../images/cabinet/avatar.jpg"))
                            // Left
                            |
                            |
                            .right
                                .top.flex
                                    .name-plan
                                        h3.name JW Marriott Absheron
                                        p.plan Associate member/Exclusive
                                    |
                                    |
                                    |
                                    a(href="cabinet-account.html" class="btn-outline with-icon")
                                        ="\n"
                                        i.icon-pencil
                                        ="\n"
                                        span Edit Profile
                                        ="\n"
                                // Top
                                |
                                |
                                .bottom.flex
                                    ul.flex
                                        li
                                            ="\n"
                                            a(href="cabinet-upcoming-events.html") Upcoming events
                                        li
                                            ="\n"
                                            a(href="cabinet-members.html") Members
                                        li
                                            ="\n"
                                            a(href="cabinet-special-offers.html") Special offers
                                        li
                                            ="\n"
                                            a(href="cabinet-faq.html" class="active") FAQ
                                // Bottom
                            // Right
        // Avatar section
        |
        |
        .faq-questions
            .container-fluid
                .row
                    .col-12
                        .question-item
                            ="\n"
                            a(href="#question0" data-toggle="collapse" aria-expanded="false") Are there any standards/regulations for opening a hotel in Azerbaijan? What are the legislative documents needed prior opening a hotel?
                            |
                            |
                            .collapse(id="question0")
                                .collapse-content
                                    p For now, there is no specific standards/ regulations for opening a hotel in Azerbaijan. Opening hotel is subject to general rules on setting up and closing down operations. 
                        // Question item
                        |
                        |
                        .question-item
                            ="\n"
                            a(href="#question1" data-toggle="collapse" aria-expanded="false") Is there any mandatory insurance for hotel in Azerbaijan? 
                            |
                            |
                            .collapse(id="question1")
                                .collapse-content
                                    p Hotels in Azerbaijan are not subject to specific mandatory insurances. However, as all legal entities, hotels are subject to compulsory immovable property insurance, compulsory insurance from the loss of professional working capacity as a result of labour accidents and occupational diseases. 
                        // Question item
                        |
                        |
                        .question-item
                            ="\n"
                            a(href="#question2" data-toggle="collapse" aria-expanded="false") What are the mandatory taxes for hotels in Azerbaijan? 
                            |
                            |
                            .collapse(id="question2")
                                .collapse-content
                                    p Tax rates for all legal entities in the Republic of Azerbaijan are as follows:   Profit tax- 20%, Value added tax -18%, Asset tax- 1%, Land Tax -Various rates, according to size, location and use.,Income tax - subject to a 7-year tax benefit applicable to employees in the non-oil and gas industry and the non-state sector.
                        // Question item
                        |
                        |
                        .question-item
                            ="\n"
                            a(href="#question3" data-toggle="collapse" aria-expanded="false") Is there any specific procedure for foreign investors to open/operate a hotel/similar establishment in Azerbaijan? 
                            |
                            |
                            .collapse(id="question3")
                                .collapse-content
                                    p Opening hotel is subject to general rules on setting up and closing down operations.
                        // Question item
                        |
                        |
                        .question-item
                            ="\n"
                            a(href="#question4" data-toggle="collapse" aria-expanded="false") Is there any government support program for incentivizing the hotels in Azerbaijan? Is there any subsidy for new establishments/accommodations? 
                            |
                            |
                            .collapse(id="question4")
                                .collapse-content
                                    p Hotels obtained an investment promotion certificate ( a document issued to legal entities and private entrepreneurs, engaged in investment activities, in the manner prescribed by the relevant executive authority) get tax benefits and benefits on customs tariffs for the period of 7 years.
                        // Question item
                        |
                        |
                        .question-item
                            ="\n"
                            a(href="#question5" data-toggle="collapse" aria-expanded="false") What are the list of must-to-present documents during the check-in to hotel for registering the guest? Is marriage certificate mandatory for couples to present according to state law? Is there any claim if hotel does not register the guest (is there any fine, and which organization checks it, if any)? 
                            |
                            |
                            .collapse(id="question5")
                                .collapse-content
                                    p The legislation is not clear on documents to be submitted for registration during the check- in. However, considering that the hotels submit application which contains details on identification card, we are of the view that the identification card must be submitted by the citizens. Foreigners or stateless persons staying in the Republic of Azerbaijan for more than 15 days shall register at their place of stay and must submit their passports  (another border crossing document).
                                    p Marriage certificate is not mandatory for couples to present.
                        // Question item
                        |
                        |
                        .question-item
                            ="\n"
                            a(href="#question6" data-toggle="collapse" aria-expanded="false") Is there any law on hygiene/food safety?
                            |
                            |
                            .collapse(id="question6")
                                .collapse-content
                                    p General matters on hygiene/food safety are regulated by the Law on “Food Stuffs” No 759-IQ dated 18 November 1999. A new law draft on “Food safety” has entered to the Parliament of the Republic of Azerbaijan. Among others the draft covers issues as establishment on food safety system, protection of the rights of consumers etc.
                        // Question item
                        |
                        |
                        .question-item
                            ="\n"
                            a(href="#question7" data-toggle="collapse" aria-expanded="false") Which is the organization checking the guests’, as well as hotels’ complaints? 
                            |
                            |
                            .collapse(id="question7")
                                .collapse-content
                                    p The State Service for Antimonopoly and Consumers Rights Protection.
                        // Question item
                        |
                        |
                        .question-item
                            ="\n"
                            a(href="#question8" data-toggle="collapse" aria-expanded="false") Is there any customer protection law in general for hotels? Is there one indicating specifically about refund procedure (in exactly which cases money should be refunded to guests)? 
                            |
                            |
                            .collapse(id="question8")
                                .collapse-content
                                    p There is no specific rules regulating hotels' customers' rights. Customers’ rights protection is governed by the Law on Protection of Consumers' Rights No 1113, dated 19 September 1995. If executor doesn't start in time implementation of the contract for rendering services, consumer is entitled to refuse from the contract and demand for compensation of losses. In addition, consumer may demand for moral damage for violation of his/her rights.
                        // Question item
                        |
                        |
        // Faq questions
    // Faq page
    |
    |

dist/cabinet-faq.html
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Azerbaijan Hotel Association</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>
		<div class="lds-css ng-scope">
			<div class="lds-spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<header>
			<div class="header-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="theme-toggler"><i class="icon-glasses"></i></div>
							<!-- Toggle theme-->

							<div class="sitemap">
								<a class="flex" href="sitemap.html"><i class="icon-list"></i>Sitemap
								</a>
							</div>
							<!-- Sitemap-->

							<div class="toggle-search" data-toggle="modal" data-target="#modal-search"><i class="icon-search"></i></div>
							<!-- Toggle search-->

							<div class="langs">
								<div class="dropdown">
									<button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
										EN<i class="icon-dropdown-arrow"></i>
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">RU</a>
										<a class="dropdown-item" href="#">AZ</a>
									</div>
								</div>
							</div>
							<!-- Langs-->
						</div>
					</div>
				</div>
			</div>
			<!-- Header top-->

			<div class="header-bottom">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="logo">
								<a href="index.html">
									<img src="images/logo.svg">
								</a>
							</div>
							<!-- Logo-->

							<nav class="main-menu hidden-1024">
								<ul>
									<li>
										<a href="javascript:void(0)">About Us</a>

										<ul class="submenu">
											<li>
												<a href="about.html">About Association</a>
											</li>
											<li>
												<a href="team.html">Team members</a>
											</li>
											<li>
												<a href="contact.html">Contact us</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="events.html">Events & Trainings</a>
									</li>
									<li>
										<a href="news.html">News & Media</a>
									</li>
									<li>
										<a href="javascript:void(0)">Membership</a>

										<ul class="submenu">
											<li>
												<a href="regular-membership.html">Regular membership</a>
											</li>
											<li>
												<a href="associate-membership.html">Associate membership</a>
											</li>
											<li>
												<a href="sponsorship.html">Sponsorship</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="classification.html">Classification</a>
									</li>
									<li>
										<a href="javascript:void(0)">Reports</a>

										<ul class="submenu">
											<li>
												<a href="statistics.html">Statistics reports</a>
											</li>
											<li>
												<a href="reports.html">Trends reports</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0)">Member's area</a>

										<ul class="submenu">
											<li>
												<a href="cabinet-upcoming-events.html">
													<i class="icon-hotel"></i>Bilgah Beach Hotel
												</a>
											</li>
											<li>
												<a href="account-index.html">
													<i class="icon-settings"></i>Account Setings
												</a>
											</li>
											<li>
												<a href="#">
													<i class="icon-logout"></i>Logout
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</nav>
							<!-- Main menu-->

							<div class="menu-toggler visible-1024">
								<span></span>
								<span></span>
								<span></span>
							</div>
							<!-- Menu toggler-->
						</div>
					</div>
				</div>
			</div>
			<!-- Header bottom-->

			<div class="side-menu visible-1024">
				<ul>
					<li>
						<a href="#menu-item0" data-toggle="collapse" aria-expanded="false">About Us</a>

						<div class="collapse" id="menu-item0">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="about.html">About Association</a>
									</li>
									<li>
										<a href="team.html">Team members</a>
									</li>
									<li>
										<a href="contact.html">Contact us</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="events.html">Events & Trainings</a>
					</li>
					<li>
						<a href="news.html">News & Media</a>
					</li>
					<li>
						<a href="#menu-item1" data-toggle="collapse" aria-expanded="false">Membership</a>

						<div class="collapse" id="menu-item1">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="regular-membership.html">Regular membership</a>
									</li>
									<li>
										<a href="associate-membership.html">Associate membership</a>
									</li>
									<li>
										<a href="sponsorship.html">Sponsorship</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="classification.html">Classification</a>
					</li>
					<li>
						<a href="#menu-item2" data-toggle="collapse" aria-expanded="false">Reports</a>

						<div class="collapse" id="menu-item2">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="statistics.html">Statistics reports</a>
									</li>
									<li>
										<a href="trends.html">Trends reports</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="#menu-item3" data-toggle="collapse" aria-expanded="false">Members area</a>

						<div class="collapse" id="menu-item3">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="cabinet-upcoming-events.html">Bilgah Beach Hotel</a>
									</li>
									<li>
										<a href="account-index.html">Account Settings</a>
									</li>
									<li>
										<a href="#">Logout</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- Side menu-->
		</header>
		<!-- Header-->


		<div class="modal" id="modal-search" tabindex="-1">
			<div class="close-modal" data-dismiss="modal">
				<i class="icon-times"></i>
			</div>

			<div class="modal-dialog">
				<div class="modal-content">
					<form class="search-form" action="#" method="GET">
						<div class="form-group">
							<input class="form-control" type="text" minlength="3" placeholder="Search" required>
						</div>

						<button class="submit-search" type="submit">
							<i class="icon-search"></i>
						</button>

						<button class="clear-search" type="button">
							<i class="icon-times"></i>
						</button>
					</form>
					<!-- Search form-->

					<div class="search-results">
						<div class="search-item flex">
							<div class="image">
								<a href="#">
									<img src="images/events/image0.jpg">
								</a>
							</div>
							<div class="info"><a class="title" href="#">International Conference on Application of Information and Communication Technologies</a>
								<div class="description">
									<p>Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details...<a href="#">Read More</a></p>
								</div>
							</div>
						</div>
						<!-- Search item-->

						<div class="search-item flex">
							<div class="image">
								<a href="#">
									<img src="images/events/image1.jpg">
								</a>
							</div>
							<div class="info"><a class="title" href="#">International Conference on Application of Information and Communication Technologies</a>
								<div class="description">
									<p>Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details...<a href="#">Read More</a></p>
								</div>
							</div>
						</div>
						<!-- Search item-->
					</div>
					<!-- Search results-->

					<div class="latest-trainings hidden-768">
						<div class="row">
							<div class="col-12">
								<h3 class="block-title">Latest events & trainings</h3>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image0.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">45th International Association for Educational Assessment Conference</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image1.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">CIS & Eastern Europe Coatings Conference</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image2.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">International Conference on Application of Information and Communication Technologies</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->
						</div>
					</div>
					<!-- Latest events & trainings-->
				</div>
			</div>
		</div>
		<!-- Modal Search-->

		<main class="content">
			<section class="cabinet faq">
				<div class="cover-photo">
					<img src="images/cabinet/cover.jpg">
				</div>
				<!-- Cover photo-->

				<div class="avatar-section">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="avatar-wrapper flex">
									<div class="left">
										<div class="avatar">
											<img src="images/cabinet/avatar.jpg">
										</div>
									</div>
									<!-- Left-->

									<div class="right">
										<div class="top flex">
											<div class="name-plan">
												<h3 class="name">JW Marriott Absheron</h3>
												<p class="plan">Associate member/Exclusive</p>
											</div>

											<a class="btn-outline with-icon" href="cabinet-account.html">
												<i class="icon-pencil"></i>
												<span>Edit Profile</span>
											</a>
										</div>
										<!-- Top-->

										<div class="bottom flex">
											<ul class="flex">
												<li>
													<a href="cabinet-upcoming-events.html">Upcoming events</a>
												</li>
												<li>
													<a href="cabinet-members.html">Members</a>
												</li>
												<li>
													<a href="cabinet-special-offers.html">Special offers</a>
												</li>
												<li>
													<a class="active" href="cabinet-faq.html">FAQ</a>
												</li>
											</ul>
										</div>
										<!-- Bottom-->
									</div>
									<!-- Right-->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Avatar section-->

				<div class="faq-questions">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="question-item">
									<a href="#question0" data-toggle="collapse" aria-expanded="false">Are there any standards/regulations for opening a hotel in Azerbaijan? What are the legislative documents needed prior opening a hotel?</a>

									<div class="collapse" id="question0">
										<div class="collapse-content">
											<p>For now, there is no specific standards/ regulations for opening a hotel in Azerbaijan. Opening hotel is subject to general rules on setting up and closing down operations. </p>
										</div>
									</div>
								</div>
								<!-- Question item-->

								<div class="question-item">
									<a href="#question1" data-toggle="collapse" aria-expanded="false">Is there any mandatory insurance for hotel in Azerbaijan? </a>

									<div class="collapse" id="question1">
										<div class="collapse-content">
											<p>Hotels in Azerbaijan are not subject to specific mandatory insurances. However, as all legal entities, hotels are subject to compulsory immovable property insurance, compulsory insurance from the loss of professional working capacity as a result of labour accidents and occupational diseases. </p>
										</div>
									</div>
								</div>
								<!-- Question item-->

								<div class="question-item">
									<a href="#question2" data-toggle="collapse" aria-expanded="false">What are the mandatory taxes for hotels in Azerbaijan? </a>

									<div class="collapse" id="question2">
										<div class="collapse-content">
											<p>Tax rates for all legal entities in the Republic of Azerbaijan are as follows:   Profit tax- 20%, Value added tax -18%, Asset tax- 1%, Land Tax -Various rates, according to size, location and use.,Income tax - subject to a 7-year tax benefit applicable to employees in the non-oil and gas industry and the non-state sector.</p>
										</div>
									</div>
								</div>
								<!-- Question item-->

								<div class="question-item">
									<a href="#question3" data-toggle="collapse" aria-expanded="false">Is there any specific procedure for foreign investors to open/operate a hotel/similar establishment in Azerbaijan? </a>

									<div class="collapse" id="question3">
										<div class="collapse-content">
											<p>Opening hotel is subject to general rules on setting up and closing down operations.</p>
										</div>
									</div>
								</div>
								<!-- Question item-->

								<div class="question-item">
									<a href="#question4" data-toggle="collapse" aria-expanded="false">Is there any government support program for incentivizing the hotels in Azerbaijan? Is there any subsidy for new establishments/accommodations? </a>

									<div class="collapse" id="question4">
										<div class="collapse-content">
											<p>Hotels obtained an investment promotion certificate ( a document issued to legal entities and private entrepreneurs, engaged in investment activities, in the manner prescribed by the relevant executive authority) get tax benefits and benefits on customs tariffs for the period of 7 years.</p>
										</div>
									</div>
								</div>
								<!-- Question item-->

								<div class="question-item">
									<a href="#question5" data-toggle="collapse" aria-expanded="false">What are the list of must-to-present documents during the check-in to hotel for registering the guest? Is marriage certificate mandatory for couples to present according to state law? Is there any claim if hotel does not register the guest (is there any fine, and which organization checks it, if any)? </a>

									<div class="collapse" id="question5">
										<div class="collapse-content">
											<p>The legislation is not clear on documents to be submitted for registration during the check- in. However, considering that the hotels submit application which contains details on identification card, we are of the view that the identification card must be submitted by the citizens. Foreigners or stateless persons staying in the Republic of Azerbaijan for more than 15 days shall register at their place of stay and must submit their passports  (another border crossing document).</p>
											<p>Marriage certificate is not mandatory for couples to present.</p>
										</div>
									</div>
								</div>
								<!-- Question item-->

								<div class="question-item">
									<a href="#question6" data-toggle="collapse" aria-expanded="false">Is there any law on hygiene/food safety?</a>

									<div class="collapse" id="question6">
										<div class="collapse-content">
											<p>General matters on hygiene/food safety are regulated by the Law on “Food Stuffs” No 759-IQ dated 18 November 1999. A new law draft on “Food safety” has entered to the Parliament of the Republic of Azerbaijan. Among others the draft covers issues as establishment on food safety system, protection of the rights of consumers etc.</p>
										</div>
									</div>
								</div>
								<!-- Question item-->

								<div class="question-item">
									<a href="#question7" data-toggle="collapse" aria-expanded="false">Which is the organization checking the guests’, as well as hotels’ complaints? </a>

									<div class="collapse" id="question7">
										<div class="collapse-content">
											<p>The State Service for Antimonopoly and Consumers Rights Protection.</p>
										</div>
									</div>
								</div>
								<!-- Question item-->

								<div class="question-item">
									<a href="#question8" data-toggle="collapse" aria-expanded="false">Is there any customer protection law in general for hotels? Is there one indicating specifically about refund procedure (in exactly which cases money should be refunded to guests)? </a>

									<div class="collapse" id="question8">
										<div class="collapse-content">
											<p>There is no specific rules regulating hotels' customers' rights. Customers’ rights protection is governed by the Law on Protection of Consumers' Rights No 1113, dated 19 September 1995. If executor doesn't start in time implementation of the contract for rendering services, consumer is entitled to refuse from the contract and demand for compensation of losses. In addition, consumer may demand for moral damage for violation of his/her rights.</p>
										</div>
									</div>
								</div>
								<!-- Question item-->

							</div>
						</div>
					</div>
				</div>
				<!-- Faq questions-->
			</section>
			<!-- Faq page-->

		</main>

		<footer>
			<div class="footer-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Introduction</a></li>
								<li><a href="#">Our Goals</a></li>
								<li><a href="#">Organization of the Association</a></li>
								<li><a href="#">Statue</a></li>
								<li><a href="#">Code of Ethics</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Membership</a></li>
								<li><a href="#">Membership benefits and conditions</a></li>
								<li><a href="#">Become a Member</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Events & Trainings</a></li>
								<li><a href="#">Calendar</a></li>
								<li><a href="#">Search event</a></li>
								<li><a href="#">Registration for Event or Training</a></li>
								<li><a href="#">Event archive</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">News & Media</a></li>
								<li><a href="#">Calendar</a></li>
								<li><a href="#">Search news</a></li>
								<li><a href="#">Subscribe for News</a></li>
								<li><a href="#">Event archive</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Classification</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
							<div class="contact-info">
								<p>Marketing Department</p><a class="phone" href="tel:8-(800)-700-43-43">8 (800) 700-43-43</a>
								<a class="email" href="mailto:office@tourismboard.az"><i class="icon-mail"></i>office@tourismboard.az</a>

								<ul class="socials">
									<li>
										<a href="https://facebook.com" target="_blank"><i class="icon-facebook"></i></a>
									</li>
									<li>
										<a href="https://twitter.com" target="_blank"><i class="icon-twitter"></i></a>
									</li>
									<li>
										<a href="https://instagram.com" target="_blank"><i class="icon-instagram"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<!-- Col-->
					</div>
				</div>
			</div>
			<!-- Footer top-->

			<div class="footer-bottom hidden-576">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="theme-toggler"><i class="icon-glasses"></i></div>
							<!-- Toggle theme-->

							<div class="sitemap">
								<a class="flex" href="sitemap.html"><i class="icon-list"></i>Sitemap
								</a>
							</div>
							<!-- Sitemap-->

							<div class="toggle-search" data-toggle="modal" data-target="#modal-search"><i class="icon-search"></i></div>
							<!-- Toggle search-->

							<div class="langs">
								<div class="dropdown">
									<button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
										EN<i class="icon-dropdown-arrow"></i>
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">RU</a>
										<a class="dropdown-item" href="#">AZ</a>
									</div>
								</div>
							</div>
							<!-- Langs-->
						</div>
					</div>
				</div>
			</div>
			<!-- Footer bottom-->

			<div class="copyrights">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<p>© 2019. Azerbaijan Hotel Association</p>

							<ul>
								<li><a href="terms.html">Terms and conditions</a></li>
								<li><a href="policy.html">Privacy policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Copyrights-->
		</footer>

		<script src="js/jquery.js"></script>
		<script src="js/toastr.js"></script>
		<script src="js/photoUpload.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>

</html>
