src/pug/pages/cabinet-members.pug
extends ../layout/layout.pug

block content
    section.cabinet.members
        .cover-photo
            ="\n"
            img(src=require("../../images/cabinet/cover.jpg"))
        // Cover photo
        |
        |
        .avatar-section
            .container-fluid
                .row
                    .col-12
                        .avatar-wrapper.flex
                            .left
                                .avatar
                                    ="\n"
                                    img(src=require("../../images/cabinet/avatar.jpg"))
                            // Left
                            |
                            |
                            .right
                                .top.flex
                                    .name-plan
                                        h3.name JW Marriott Absheron
                                        p.plan Associate member/Exclusive
                                    |
                                    |
                                    |
                                    a(href="cabinet-account.html" class="btn-outline with-icon")
                                        ="\n"
                                        i.icon-pencil
                                        ="\n"
                                        span Edit Profile
                                        ="\n"
                                // Top
                                |
                                |
                                .bottom.flex
                                    ul.flex
                                        li
                                            ="\n"
                                            a(href="cabinet-upcoming-events.html") Upcoming events
                                        li
                                            ="\n"
                                            a(href="cabinet-members.html" class="active") Members
                                        li
                                            ="\n"
                                            a(href="cabinet-special-offers.html") Special offers
                                        li
                                            ="\n"
                                            a(href="cabinet-faq.html") FAQ
                                // Bottom
                            // Right
        // Avatar section
        |
        |
        .members-list
            .container-fluid
                .row
                    .col-12
                        h3.block-title Regular Members
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image0.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") European Investment Bank
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image1.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Embasy United States of America
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image2.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Middlesex University
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image3.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") European Union
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image4.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Ministry of Taxex of Azerbaijan Republic
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image5.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Baku 2015 1st European Games
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image0.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") European Investment Bank
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image1.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Embasy United States of America
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image2.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Middlesex University
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image3.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") European Union
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image4.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Ministry of Taxex of Azerbaijan Republic
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image5.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Baku 2015 1st European Games
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image0.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") European Investment Bank
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image1.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Embasy United States of America
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image2.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Middlesex University
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image3.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") European Union
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image4.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Ministry of Taxex of Azerbaijan Republic
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image5.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Baku 2015 1st European Games
                    // Col
        // Members list (regular)
        |
        |
        .members-list
            .container-fluid
                .row
                    .col-12
                        h3.block-title Associate Members
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image0.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") European Investment Bank
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image1.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Embasy United States of America
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image2.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Middlesex University
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image3.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") European Union
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image4.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Ministry of Taxex of Azerbaijan Republic
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image5.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Baku 2015 1st European Games
                    // Col
        // Members list (associate)
        |
        |
    // Members page
    |
    |

dist/cabinet-members.html
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Azerbaijan Hotel Association</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>
		<div class="lds-css ng-scope">
			<div class="lds-spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<header>
			<div class="header-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="theme-toggler"><i class="icon-glasses"></i></div>
							<!-- Toggle theme-->

							<div class="sitemap">
								<a class="flex" href="sitemap.html"><i class="icon-list"></i>Sitemap
								</a>
							</div>
							<!-- Sitemap-->

							<div class="toggle-search" data-toggle="modal" data-target="#modal-search"><i class="icon-search"></i></div>
							<!-- Toggle search-->

							<div class="langs">
								<div class="dropdown">
									<button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
										EN<i class="icon-dropdown-arrow"></i>
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">RU</a>
										<a class="dropdown-item" href="#">AZ</a>
									</div>
								</div>
							</div>
							<!-- Langs-->
						</div>
					</div>
				</div>
			</div>
			<!-- Header top-->

			<div class="header-bottom">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="logo">
								<a href="index.html">
									<img src="images/logo.svg">
								</a>
							</div>
							<!-- Logo-->

							<nav class="main-menu hidden-1024">
								<ul>
									<li>
										<a href="javascript:void(0)">About Us</a>

										<ul class="submenu">
											<li>
												<a href="about.html">About Association</a>
											</li>
											<li>
												<a href="team.html">Team members</a>
											</li>
											<li>
												<a href="contact.html">Contact us</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="events.html">Events & Trainings</a>
									</li>
									<li>
										<a href="news.html">News & Media</a>
									</li>
									<li>
										<a href="javascript:void(0)">Membership</a>

										<ul class="submenu">
											<li>
												<a href="regular-membership.html">Regular membership</a>
											</li>
											<li>
												<a href="associate-membership.html">Associate membership</a>
											</li>
											<li>
												<a href="sponsorship.html">Sponsorship</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="classification.html">Classification</a>
									</li>
									<li>
										<a href="javascript:void(0)">Reports</a>

										<ul class="submenu">
											<li>
												<a href="statistics.html">Statistics reports</a>
											</li>
											<li>
												<a href="reports.html">Trends reports</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0)">Member's area</a>

										<ul class="submenu">
											<li>
												<a href="cabinet-upcoming-events.html">
													<i class="icon-hotel"></i>Bilgah Beach Hotel
												</a>
											</li>
											<li>
												<a href="account-index.html">
													<i class="icon-settings"></i>Account Setings
												</a>
											</li>
											<li>
												<a href="#">
													<i class="icon-logout"></i>Logout
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</nav>
							<!-- Main menu-->

							<div class="menu-toggler visible-1024">
								<span></span>
								<span></span>
								<span></span>
							</div>
							<!-- Menu toggler-->
						</div>
					</div>
				</div>
			</div>
			<!-- Header bottom-->

			<div class="side-menu visible-1024">
				<ul>
					<li>
						<a href="#menu-item0" data-toggle="collapse" aria-expanded="false">About Us</a>

						<div class="collapse" id="menu-item0">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="about.html">About Association</a>
									</li>
									<li>
										<a href="team.html">Team members</a>
									</li>
									<li>
										<a href="contact.html">Contact us</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="events.html">Events & Trainings</a>
					</li>
					<li>
						<a href="news.html">News & Media</a>
					</li>
					<li>
						<a href="#menu-item1" data-toggle="collapse" aria-expanded="false">Membership</a>

						<div class="collapse" id="menu-item1">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="regular-membership.html">Regular membership</a>
									</li>
									<li>
										<a href="associate-membership.html">Associate membership</a>
									</li>
									<li>
										<a href="sponsorship.html">Sponsorship</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="classification.html">Classification</a>
					</li>
					<li>
						<a href="#menu-item2" data-toggle="collapse" aria-expanded="false">Reports</a>

						<div class="collapse" id="menu-item2">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="statistics.html">Statistics reports</a>
									</li>
									<li>
										<a href="trends.html">Trends reports</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="#menu-item3" data-toggle="collapse" aria-expanded="false">Members area</a>

						<div class="collapse" id="menu-item3">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="cabinet-upcoming-events.html">Bilgah Beach Hotel</a>
									</li>
									<li>
										<a href="account-index.html">Account Settings</a>
									</li>
									<li>
										<a href="#">Logout</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- Side menu-->
		</header>
		<!-- Header-->


		<div class="modal" id="modal-search" tabindex="-1">
			<div class="close-modal" data-dismiss="modal">
				<i class="icon-times"></i>
			</div>

			<div class="modal-dialog">
				<div class="modal-content">
					<form class="search-form" action="#" method="GET">
						<div class="form-group">
							<input class="form-control" type="text" minlength="3" placeholder="Search" required>
						</div>

						<button class="submit-search" type="submit">
							<i class="icon-search"></i>
						</button>

						<button class="clear-search" type="button">
							<i class="icon-times"></i>
						</button>
					</form>
					<!-- Search form-->

					<div class="search-results">
						<div class="search-item flex">
							<div class="image">
								<a href="#">
									<img src="images/events/image0.jpg">
								</a>
							</div>
							<div class="info"><a class="title" href="#">International Conference on Application of Information and Communication Technologies</a>
								<div class="description">
									<p>Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details...<a href="#">Read More</a></p>
								</div>
							</div>
						</div>
						<!-- Search item-->

						<div class="search-item flex">
							<div class="image">
								<a href="#">
									<img src="images/events/image1.jpg">
								</a>
							</div>
							<div class="info"><a class="title" href="#">International Conference on Application of Information and Communication Technologies</a>
								<div class="description">
									<p>Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details...<a href="#">Read More</a></p>
								</div>
							</div>
						</div>
						<!-- Search item-->
					</div>
					<!-- Search results-->

					<div class="latest-trainings hidden-768">
						<div class="row">
							<div class="col-12">
								<h3 class="block-title">Latest events & trainings</h3>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image0.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">45th International Association for Educational Assessment Conference</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image1.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">CIS & Eastern Europe Coatings Conference</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image2.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">International Conference on Application of Information and Communication Technologies</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->
						</div>
					</div>
					<!-- Latest events & trainings-->
				</div>
			</div>
		</div>
		<!-- Modal Search-->

		<main class="content">
			<section class="cabinet members">
				<div class="cover-photo">
					<img src="images/cabinet/cover.jpg">
				</div>
				<!-- Cover photo-->

				<div class="avatar-section">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="avatar-wrapper flex">
									<div class="left">
										<div class="avatar">
											<img src="images/cabinet/avatar.jpg">
										</div>
									</div>
									<!-- Left-->

									<div class="right">
										<div class="top flex">
											<div class="name-plan">
												<h3 class="name">JW Marriott Absheron</h3>
												<p class="plan">Associate member/Exclusive</p>
											</div>

											<a class="btn-outline with-icon" href="cabinet-account.html">
												<i class="icon-pencil"></i>
												<span>Edit Profile</span>
											</a>
										</div>
										<!-- Top-->

										<div class="bottom flex">
											<ul class="flex">
												<li>
													<a href="cabinet-upcoming-events.html">Upcoming events</a>
												</li>
												<li>
													<a class="active" href="cabinet-members.html">Members</a>
												</li>
												<li>
													<a href="cabinet-special-offers.html">Special offers</a>
												</li>
												<li>
													<a href="cabinet-faq.html">FAQ</a>
												</li>
											</ul>
										</div>
										<!-- Bottom-->
									</div>
									<!-- Right-->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Avatar section-->

				<div class="members-list">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<h3 class="block-title">Regular Members</h3>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image0.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">European Investment Bank</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image1.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">Embasy United States of America</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image2.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">Middlesex University</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image3.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">European Union</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image4.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">Ministry of Taxex of Azerbaijan Republic</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image5.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">Baku 2015 1st European Games</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image0.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">European Investment Bank</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image1.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">Embasy United States of America</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image2.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">Middlesex University</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image3.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">European Union</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image4.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">Ministry of Taxex of Azerbaijan Republic</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image5.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">Baku 2015 1st European Games</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image0.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">European Investment Bank</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image1.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">Embasy United States of America</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image2.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">Middlesex University</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image3.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">European Union</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image4.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">Ministry of Taxex of Azerbaijan Republic</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image5.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">Baku 2015 1st European Games</a>
									</div>
								</div>
							</div>
							<!-- Col-->
						</div>
					</div>
				</div>
				<!-- Members list (regular)-->

				<div class="members-list">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<h3 class="block-title">Associate Members</h3>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image0.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">European Investment Bank</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image1.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">Embasy United States of America</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image2.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">Middlesex University</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image3.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">European Union</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image4.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">Ministry of Taxex of Azerbaijan Republic</a>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-xl-2 col-lg-3 col-sm-4 col-6">
								<div class="partner-block">
									<div class="image flex-center">
										<a href="#" target="_blank">
											<img class="swiper-lazy" src="images/partners/image5.png">
										</a>
									</div>
									<div class="name text-center">
										<a href="#" target="_blank">Baku 2015 1st European Games</a>
									</div>
								</div>
							</div>
							<!-- Col-->
						</div>
					</div>
				</div>
				<!-- Members list (associate)-->

			</section>
			<!-- Members page-->

		</main>

		<footer>
			<div class="footer-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Introduction</a></li>
								<li><a href="#">Our Goals</a></li>
								<li><a href="#">Organization of the Association</a></li>
								<li><a href="#">Statue</a></li>
								<li><a href="#">Code of Ethics</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Membership</a></li>
								<li><a href="#">Membership benefits and conditions</a></li>
								<li><a href="#">Become a Member</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Events & Trainings</a></li>
								<li><a href="#">Calendar</a></li>
								<li><a href="#">Search event</a></li>
								<li><a href="#">Registration for Event or Training</a></li>
								<li><a href="#">Event archive</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">News & Media</a></li>
								<li><a href="#">Calendar</a></li>
								<li><a href="#">Search news</a></li>
								<li><a href="#">Subscribe for News</a></li>
								<li><a href="#">Event archive</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Classification</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
							<div class="contact-info">
								<p>Marketing Department</p><a class="phone" href="tel:8-(800)-700-43-43">8 (800) 700-43-43</a>
								<a class="email" href="mailto:office@tourismboard.az"><i class="icon-mail"></i>office@tourismboard.az</a>

								<ul class="socials">
									<li>
										<a href="https://facebook.com" target="_blank"><i class="icon-facebook"></i></a>
									</li>
									<li>
										<a href="https://twitter.com" target="_blank"><i class="icon-twitter"></i></a>
									</li>
									<li>
										<a href="https://instagram.com" target="_blank"><i class="icon-instagram"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<!-- Col-->
					</div>
				</div>
			</div>
			<!-- Footer top-->

			<div class="footer-bottom hidden-576">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="theme-toggler"><i class="icon-glasses"></i></div>
							<!-- Toggle theme-->

							<div class="sitemap">
								<a class="flex" href="sitemap.html"><i class="icon-list"></i>Sitemap
								</a>
							</div>
							<!-- Sitemap-->

							<div class="toggle-search" data-toggle="modal" data-target="#modal-search"><i class="icon-search"></i></div>
							<!-- Toggle search-->

							<div class="langs">
								<div class="dropdown">
									<button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
										EN<i class="icon-dropdown-arrow"></i>
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">RU</a>
										<a class="dropdown-item" href="#">AZ</a>
									</div>
								</div>
							</div>
							<!-- Langs-->
						</div>
					</div>
				</div>
			</div>
			<!-- Footer bottom-->

			<div class="copyrights">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<p>© 2019. Azerbaijan Hotel Association</p>

							<ul>
								<li><a href="terms.html">Terms and conditions</a></li>
								<li><a href="policy.html">Privacy policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Copyrights-->
		</footer>

		<script src="js/jquery.js"></script>
		<script src="js/toastr.js"></script>
		<script src="js/photoUpload.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>

</html>
