dist/contact.html
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Azerbaijan Hotel Association</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>
		<div class="lds-css ng-scope">
			<div class="lds-spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<header>
			<div class="header-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="theme-toggler"><i class="icon-glasses"></i></div>
							<!-- Toggle theme-->

							<div class="sitemap">
								<a class="flex" href="sitemap.html"><i class="icon-list"></i>Sitemap
								</a>
							</div>
							<!-- Sitemap-->

							<div class="toggle-search" data-toggle="modal" data-target="#modal-search"><i class="icon-search"></i></div>
							<!-- Toggle search-->

							<div class="langs">
								<div class="dropdown">
									<button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
										EN<i class="icon-dropdown-arrow"></i>
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">RU</a>
										<a class="dropdown-item" href="#">AZ</a>
									</div>
								</div>
							</div>
							<!-- Langs-->
						</div>
					</div>
				</div>
			</div>
			<!-- Header top-->

			<div class="header-bottom">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="logo">
								<a href="index.html">
									<img src="images/logo.svg">
								</a>
							</div>
							<!-- Logo-->

							<nav class="main-menu hidden-1024">
								<ul>
									<li>
										<a href="javascript:void(0)">About Us</a>

										<ul class="submenu">
											<li>
												<a href="about.html">About Association</a>
											</li>
											<li>
												<a href="team.html">Team members</a>
											</li>
											<li>
												<a href="contact.html">Contact us</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="events.html">Events & Trainings</a>
									</li>
									<li>
										<a href="news.html">News & Media</a>
									</li>
									<li>
										<a href="javascript:void(0)">Membership</a>

										<ul class="submenu">
											<li>
												<a href="regular-membership.html">Regular membership</a>
											</li>
											<li>
												<a href="associate-membership.html">Associate membership</a>
											</li>
											<li>
												<a href="sponsorship.html">Sponsorship</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="classification.html">Classification</a>
									</li>
									<li>
										<a href="javascript:void(0)">Reports</a>

										<ul class="submenu">
											<li>
												<a href="statistics.html">Statistics reports</a>
											</li>
											<li>
												<a href="reports.html">Trends reports</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0)">Member's area</a>

										<ul class="submenu">
											<li>
												<a href="cabinet-upcoming-events.html">
													<i class="icon-hotel"></i>Bilgah Beach Hotel
												</a>
											</li>
											<li>
												<a href="account-index.html">
													<i class="icon-settings"></i>Account Setings
												</a>
											</li>
											<li>
												<a href="#">
													<i class="icon-logout"></i>Logout
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</nav>
							<!-- Main menu-->

							<div class="menu-toggler visible-1024">
								<span></span>
								<span></span>
								<span></span>
							</div>
							<!-- Menu toggler-->
						</div>
					</div>
				</div>
			</div>
			<!-- Header bottom-->

			<div class="side-menu visible-1024">
				<ul>
					<li>
						<a href="#menu-item0" data-toggle="collapse" aria-expanded="false">About Us</a>

						<div class="collapse" id="menu-item0">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="about.html">About Association</a>
									</li>
									<li>
										<a href="team.html">Team members</a>
									</li>
									<li>
										<a href="contact.html">Contact us</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="events.html">Events & Trainings</a>
					</li>
					<li>
						<a href="news.html">News & Media</a>
					</li>
					<li>
						<a href="#menu-item1" data-toggle="collapse" aria-expanded="false">Membership</a>

						<div class="collapse" id="menu-item1">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="regular-membership.html">Regular membership</a>
									</li>
									<li>
										<a href="associate-membership.html">Associate membership</a>
									</li>
									<li>
										<a href="sponsorship.html">Sponsorship</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="classification.html">Classification</a>
					</li>
					<li>
						<a href="#menu-item2" data-toggle="collapse" aria-expanded="false">Reports</a>

						<div class="collapse" id="menu-item2">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="statistics.html">Statistics reports</a>
									</li>
									<li>
										<a href="trends.html">Trends reports</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="#menu-item3" data-toggle="collapse" aria-expanded="false">Members area</a>

						<div class="collapse" id="menu-item3">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="cabinet-upcoming-events.html">Bilgah Beach Hotel</a>
									</li>
									<li>
										<a href="account-index.html">Account Settings</a>
									</li>
									<li>
										<a href="#">Logout</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- Side menu-->
		</header>
		<!-- Header-->


		<div class="modal" id="modal-search" tabindex="-1">
			<div class="close-modal" data-dismiss="modal">
				<i class="icon-times"></i>
			</div>

			<div class="modal-dialog">
				<div class="modal-content">
					<form class="search-form" action="#" method="GET">
						<div class="form-group">
							<input class="form-control" type="text" minlength="3" placeholder="Search" required>
						</div>

						<button class="submit-search" type="submit">
							<i class="icon-search"></i>
						</button>

						<button class="clear-search" type="button">
							<i class="icon-times"></i>
						</button>
					</form>
					<!-- Search form-->

					<div class="search-results">
						<div class="search-item flex">
							<div class="image">
								<a href="#">
									<img src="images/events/image0.jpg">
								</a>
							</div>
							<div class="info"><a class="title" href="#">International Conference on Application of Information and Communication Technologies</a>
								<div class="description">
									<p>Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details...<a href="#">Read More</a></p>
								</div>
							</div>
						</div>
						<!-- Search item-->

						<div class="search-item flex">
							<div class="image">
								<a href="#">
									<img src="images/events/image1.jpg">
								</a>
							</div>
							<div class="info"><a class="title" href="#">International Conference on Application of Information and Communication Technologies</a>
								<div class="description">
									<p>Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details...<a href="#">Read More</a></p>
								</div>
							</div>
						</div>
						<!-- Search item-->
					</div>
					<!-- Search results-->

					<div class="latest-trainings hidden-768">
						<div class="row">
							<div class="col-12">
								<h3 class="block-title">Latest events & trainings</h3>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image0.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">45th International Association for Educational Assessment Conference</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image1.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">CIS & Eastern Europe Coatings Conference</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image2.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">International Conference on Application of Information and Communication Technologies</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->
						</div>
					</div>
					<!-- Latest events & trainings-->
				</div>
			</div>
		</div>
		<!-- Modal Search-->

		<main class="content">
			<div class="breadcrumb-container">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<nav>
								<ol class="breadcrumb">
									<li class="breadcrumb-item">
										<a href="index.html">Home</a>
									</li>
									<li class="breadcrumb-item">
										<a href="about.html">About Us</a>
									</li>
									<li class="breadcrumb-item">Contact Us</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- Breadcrumbs-->

			<div class="alert alert-danger alert-dismissible">
				<p>Something went wrong</p>

				<button class="close" data-dismiss="alert" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- Alert-->

			<section class="contact-page">
				<div class="page-intro centered">
					<div class="intro-content cover-center" style="background-image: url(images/about-bg.jpg)"></div>

					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<h1 class="title" data-aos="zoom-in" data-aos-duration="1500">Contact Us</h1>
								<p data-aos="fade-in" data-aos-duration="1500">Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Page intro-->

				<div class="page-categories">
					<ul class="flex">
						<li>
							<a href="about.html">About Association</a>
						</li>
						<li>
							<a href="team.html">Team members</a>
						</li>
						<li class="active">
							<a href="contact.html">Contact us</a>
						</li>
					</ul>
				</div>
				<!-- Page categories-->

				<div class="contact-body ptb-8">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-6" data-aos="fade-in" data-aos-duration="900">
								<div class="contact-info">
									<h2 class="block-title">Contact us for...</h2>
									<p class="subtitle">Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.</p>

									<div class="row">
										<div class="col-sm-6">
											<div class="info-item">
												<h3 class="label flex">
													<i class="icon-marker"></i>Address
												</h3>

												<p>96E Nizami Street</p>
												<p>Landmark I, 3rd Floor Baku, AZ1010, Azerbaijan</p>
											</div>
										</div>
										<!-- Col-->

										<div class="col-sm-6">
											<div class="info-item">
												<h3 class="label flex">
													<i class="icon-notepad"></i>Contacts
												</h3>

												<ul>
													<li>
														<a href="#">+994 50 250 74 21</a>
													</li>
													<li>
														<a href="#">+994 12 250 74 21</a>
													</li>
													<li>
														<a href="#">info@hotelassociation.az</a>
													</li>
												</ul>
											</div>
										</div>
										<!-- Col-->
									</div>
									<!-- Row-->

									<div class="divider"></div>

									<div class="row">
										<div class="col-sm-6">
											<div class="department">
												<h3 class="department-head">Name Surname</h3>
												<p class="department-name">Marketing department</p>

												<ul>
													<li>
														<a href="#">
															<i class="icon-mobile"></i>+994 50 250 74 21
														</a>
													</li>
													<li>
														<a href="#">
															<i class="icon-phone"></i>+994 12 250 74 21
														</a>
													</li>
													<li>
														<a href="#">
															<i class="icon-mail-alt"></i>example@mail.com
														</a>
													</li>
												</ul>
											</div>
										</div>
										<!-- Col-->

										<div class="col-sm-6">
											<div class="department">
												<h3 class="department-head">Name Surname</h3>
												<p class="department-name">Marketing department</p>

												<ul>
													<li>
														<a href="#">
															<i class="icon-mobile"></i>+994 50 250 74 21
														</a>
													</li>
													<li>
														<a href="#">
															<i class="icon-phone"></i>+994 12 250 74 21
														</a>
													</li>
													<li>
														<a href="#">
															<i class="icon-mail-alt"></i>nuray.huseynzada@hotelassociation.az
														</a>
													</li>
												</ul>
											</div>
										</div>
										<!-- Col-->
									</div>
									<!-- Row-->
								</div>
								<!-- Contact info-->
							</div>
							<!-- Col-->

							<div class="col-lg-6" data-aos="fade-in" data-aos-duration="900">
								<div class="contact-form">
									<h2 class="block-title">Send us your message</h2>
									<p class="subtitle">Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.</p>

									<form action="#" method="post">
										<div class="form-group">
											<input class="form-control" type="text" placeholder="Name" required>
										</div>

										<div class="form-group">
											<input class="form-control" type="email" placeholder="E-mail address" required>
										</div>

										<div class="form-group">
											<textarea class="form-control" rows="7" placeholder="Message" required></textarea>
										</div>

										<button class="btn-custom submit-contact">Apply</button>
									</form>
								</div>
								<!-- Contact form-->
							</div>
							<!-- Col-->
						</div>
					</div>
				</div>
				<!-- Contact info-->
			</section>
			<!-- Contact page-->

		</main>

		<footer>
			<div class="footer-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Introduction</a></li>
								<li><a href="#">Our Goals</a></li>
								<li><a href="#">Organization of the Association</a></li>
								<li><a href="#">Statue</a></li>
								<li><a href="#">Code of Ethics</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Membership</a></li>
								<li><a href="#">Membership benefits and conditions</a></li>
								<li><a href="#">Become a Member</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Events & Trainings</a></li>
								<li><a href="#">Calendar</a></li>
								<li><a href="#">Search event</a></li>
								<li><a href="#">Registration for Event or Training</a></li>
								<li><a href="#">Event archive</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">News & Media</a></li>
								<li><a href="#">Calendar</a></li>
								<li><a href="#">Search news</a></li>
								<li><a href="#">Subscribe for News</a></li>
								<li><a href="#">Event archive</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Classification</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
							<div class="contact-info">
								<p>Marketing Department</p><a class="phone" href="tel:8-(800)-700-43-43">8 (800) 700-43-43</a>
								<a class="email" href="mailto:office@tourismboard.az"><i class="icon-mail"></i>office@tourismboard.az</a>

								<ul class="socials">
									<li>
										<a href="https://facebook.com" target="_blank"><i class="icon-facebook"></i></a>
									</li>
									<li>
										<a href="https://twitter.com" target="_blank"><i class="icon-twitter"></i></a>
									</li>
									<li>
										<a href="https://instagram.com" target="_blank"><i class="icon-instagram"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<!-- Col-->
					</div>
				</div>
			</div>
			<!-- Footer top-->

			<div class="footer-bottom hidden-576">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="theme-toggler"><i class="icon-glasses"></i></div>
							<!-- Toggle theme-->

							<div class="sitemap">
								<a class="flex" href="sitemap.html"><i class="icon-list"></i>Sitemap
								</a>
							</div>
							<!-- Sitemap-->

							<div class="toggle-search" data-toggle="modal" data-target="#modal-search"><i class="icon-search"></i></div>
							<!-- Toggle search-->

							<div class="langs">
								<div class="dropdown">
									<button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
										EN<i class="icon-dropdown-arrow"></i>
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">RU</a>
										<a class="dropdown-item" href="#">AZ</a>
									</div>
								</div>
							</div>
							<!-- Langs-->
						</div>
					</div>
				</div>
			</div>
			<!-- Footer bottom-->

			<div class="copyrights">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<p>© 2019. Azerbaijan Hotel Association</p>

							<ul>
								<li><a href="terms.html">Terms and conditions</a></li>
								<li><a href="policy.html">Privacy policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Copyrights-->
		</footer>

		<script src="js/jquery.js"></script>
		<script src="js/toastr.js"></script>
		<script src="js/photoUpload.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>

</html>

src/pug/pages/contact.pug
extends ../layout/layout.pug

block content
    .breadcrumb-container
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item
                                ="\n"
                                a(href="about.html") About Us
                            li.breadcrumb-item Contact Us
    // Breadcrumbs
    |
    |
    .alert.alert-danger.alert-dismissible
        p Something went wrong
        |
        |
        button(class="close" data-dismiss="alert" type="button")
            ="\n"
            span(aria-hidden="true") &times;
    // Alert
    |
    |
    section.contact-page
        .page-intro.centered
            .intro-content.cover-center(style="background-image: url("+ require("../../images/about-bg.jpg") +")")
            |
            |
            .container-fluid
                .row
                    .col-12
                        h1.title(data-aos="zoom-in" data-aos-duration="1500") Contact Us
                        p(data-aos="fade-in" data-aos-duration="1500") Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
        // Page intro
        |
        |
        .page-categories
            ul.flex
                li
                    ="\n"
                    a(href="about.html") About Association
                li
                    ="\n"
                    a(href="team.html") Team members
                li.active
                    ="\n"
                    a(href="contact.html") Contact us
        // Page categories
        |
        |
        .contact-body.ptb-8
            .container-fluid
                .row
                    .col-lg-6(data-aos="fade-in" data-aos-duration="900")
                        .contact-info
                            h2.block-title Contact us for...
                            p.subtitle Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
                            |
                            |
                            .row
                                .col-sm-6
                                    .info-item
                                        h3.label.flex
                                            ="\n"
                                            i.icon-marker
                                            | Address
                                        |
                                        |
                                        p 96E Nizami Street
                                        p Landmark I, 3rd Floor Baku, AZ1010, Azerbaijan
                                // Col
                                |
                                |
                                .col-sm-6
                                    .info-item
                                        h3.label.flex
                                            ="\n"
                                            i.icon-notepad
                                            | Contacts
                                        |
                                        |
                                        ul
                                            li
                                                ="\n"
                                                a(href="#") +994 50 250 74 21
                                            li
                                                ="\n"
                                                a(href="#") +994 12 250 74 21
                                            li
                                                ="\n"
                                                a(href="#") info@hotelassociation.az
                                // Col
                            // Row
                            |
                            |
                            .divider
                            |
                            |
                            .row
                                .col-sm-6
                                    .department
                                        h3.department-head Name Surname
                                        p.department-name Marketing department
                                        |
                                        |
                                        ul
                                            li
                                                ="\n"
                                                a(href="#")
                                                    ="\n"
                                                    i.icon-mobile
                                                    | +994 50 250 74 21
                                                    ="\n"
                                            li
                                                ="\n"
                                                a(href="#")
                                                    ="\n"
                                                    i.icon-phone
                                                    | +994 12 250 74 21
                                                    ="\n"
                                            li
                                                ="\n"
                                                a(href="#")
                                                    ="\n"
                                                    i.icon-mail-alt
                                                    | example@mail.com
                                                    ="\n"
                                // Col
                                |
                                |
                                .col-sm-6
                                    .department
                                        h3.department-head Name Surname
                                        p.department-name Marketing department
                                        |
                                        |
                                        ul
                                            li
                                                ="\n"
                                                a(href="#")
                                                    ="\n"
                                                    i.icon-mobile
                                                    | +994 50 250 74 21
                                                    ="\n"
                                            li
                                                ="\n"
                                                a(href="#")
                                                    ="\n"
                                                    i.icon-phone
                                                    | +994 12 250 74 21
                                                    ="\n"
                                            li
                                                ="\n"
                                                a(href="#")
                                                    ="\n"
                                                    i.icon-mail-alt
                                                    | nuray.huseynzada@hotelassociation.az
                                                    ="\n"
                                // Col
                            // Row
                        // Contact info
                    // Col
                    |
                    |
                    .col-lg-6(data-aos="fade-in" data-aos-duration="900")
                        .contact-form
                            h2.block-title Send us your message
                            p.subtitle Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
                            |
                            |
                            form(action="#" method="post")
                                .form-group
                                    input(type="text" class="form-control" placeholder="Name" required)
                                |
                                |
                                .form-group
                                    input(type="email" class="form-control" placeholder="E-mail address" required)
                                |
                                |
                                .form-group
                                    textarea(class="form-control" rows="7" placeholder="Message" required)
                                |
                                |
                                button(class="btn-custom submit-contact") Apply
                        // Contact form
                    // Col
        // Contact info
    // Contact page
    |
    |
