dist/event-inner.html
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Azerbaijan Hotel Association</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>
		<div class="lds-css ng-scope">
			<div class="lds-spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<header>
			<div class="header-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="theme-toggler"><i class="icon-glasses"></i></div>
							<!-- Toggle theme-->

							<div class="sitemap">
								<a class="flex" href="sitemap.html"><i class="icon-list"></i>Sitemap
								</a>
							</div>
							<!-- Sitemap-->

							<div class="toggle-search" data-toggle="modal" data-target="#modal-search"><i class="icon-search"></i></div>
							<!-- Toggle search-->

							<div class="langs">
								<div class="dropdown">
									<button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
										EN<i class="icon-dropdown-arrow"></i>
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">RU</a>
										<a class="dropdown-item" href="#">AZ</a>
									</div>
								</div>
							</div>
							<!-- Langs-->
						</div>
					</div>
				</div>
			</div>
			<!-- Header top-->

			<div class="header-bottom">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="logo">
								<a href="index.html">
									<img src="images/logo.svg">
								</a>
							</div>
							<!-- Logo-->

							<nav class="main-menu hidden-1024">
								<ul>
									<li>
										<a href="javascript:void(0)">About Us</a>

										<ul class="submenu">
											<li>
												<a href="about.html">About Association</a>
											</li>
											<li>
												<a href="team.html">Team members</a>
											</li>
											<li>
												<a href="contact.html">Contact us</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="events.html">Events & Trainings</a>
									</li>
									<li>
										<a href="news.html">News & Media</a>
									</li>
									<li>
										<a href="javascript:void(0)">Membership</a>

										<ul class="submenu">
											<li>
												<a href="regular-membership.html">Regular membership</a>
											</li>
											<li>
												<a href="associate-membership.html">Associate membership</a>
											</li>
											<li>
												<a href="sponsorship.html">Sponsorship</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="classification.html">Classification</a>
									</li>
									<li>
										<a href="javascript:void(0)">Reports</a>

										<ul class="submenu">
											<li>
												<a href="statistics.html">Statistics reports</a>
											</li>
											<li>
												<a href="reports.html">Trends reports</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0)">Member's area</a>

										<ul class="submenu">
											<li>
												<a href="cabinet-upcoming-events.html">
													<i class="icon-hotel"></i>Bilgah Beach Hotel
												</a>
											</li>
											<li>
												<a href="account-index.html">
													<i class="icon-settings"></i>Account Setings
												</a>
											</li>
											<li>
												<a href="#">
													<i class="icon-logout"></i>Logout
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</nav>
							<!-- Main menu-->

							<div class="menu-toggler visible-1024">
								<span></span>
								<span></span>
								<span></span>
							</div>
							<!-- Menu toggler-->
						</div>
					</div>
				</div>
			</div>
			<!-- Header bottom-->

			<div class="side-menu visible-1024">
				<ul>
					<li>
						<a href="#menu-item0" data-toggle="collapse" aria-expanded="false">About Us</a>

						<div class="collapse" id="menu-item0">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="about.html">About Association</a>
									</li>
									<li>
										<a href="team.html">Team members</a>
									</li>
									<li>
										<a href="contact.html">Contact us</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="events.html">Events & Trainings</a>
					</li>
					<li>
						<a href="news.html">News & Media</a>
					</li>
					<li>
						<a href="#menu-item1" data-toggle="collapse" aria-expanded="false">Membership</a>

						<div class="collapse" id="menu-item1">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="regular-membership.html">Regular membership</a>
									</li>
									<li>
										<a href="associate-membership.html">Associate membership</a>
									</li>
									<li>
										<a href="sponsorship.html">Sponsorship</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="classification.html">Classification</a>
					</li>
					<li>
						<a href="#menu-item2" data-toggle="collapse" aria-expanded="false">Reports</a>

						<div class="collapse" id="menu-item2">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="statistics.html">Statistics reports</a>
									</li>
									<li>
										<a href="trends.html">Trends reports</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="#menu-item3" data-toggle="collapse" aria-expanded="false">Members area</a>

						<div class="collapse" id="menu-item3">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="cabinet-upcoming-events.html">Bilgah Beach Hotel</a>
									</li>
									<li>
										<a href="account-index.html">Account Settings</a>
									</li>
									<li>
										<a href="#">Logout</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- Side menu-->
		</header>
		<!-- Header-->


		<div class="modal" id="modal-search" tabindex="-1">
			<div class="close-modal" data-dismiss="modal">
				<i class="icon-times"></i>
			</div>

			<div class="modal-dialog">
				<div class="modal-content">
					<form class="search-form" action="#" method="GET">
						<div class="form-group">
							<input class="form-control" type="text" minlength="3" placeholder="Search" required>
						</div>

						<button class="submit-search" type="submit">
							<i class="icon-search"></i>
						</button>

						<button class="clear-search" type="button">
							<i class="icon-times"></i>
						</button>
					</form>
					<!-- Search form-->

					<div class="search-results">
						<div class="search-item flex">
							<div class="image">
								<a href="#">
									<img src="images/events/image0.jpg">
								</a>
							</div>
							<div class="info"><a class="title" href="#">International Conference on Application of Information and Communication Technologies</a>
								<div class="description">
									<p>Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details...<a href="#">Read More</a></p>
								</div>
							</div>
						</div>
						<!-- Search item-->

						<div class="search-item flex">
							<div class="image">
								<a href="#">
									<img src="images/events/image1.jpg">
								</a>
							</div>
							<div class="info"><a class="title" href="#">International Conference on Application of Information and Communication Technologies</a>
								<div class="description">
									<p>Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details...<a href="#">Read More</a></p>
								</div>
							</div>
						</div>
						<!-- Search item-->
					</div>
					<!-- Search results-->

					<div class="latest-trainings hidden-768">
						<div class="row">
							<div class="col-12">
								<h3 class="block-title">Latest events & trainings</h3>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image0.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">45th International Association for Educational Assessment Conference</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image1.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">CIS & Eastern Europe Coatings Conference</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image2.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">International Conference on Application of Information and Communication Technologies</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->
						</div>
					</div>
					<!-- Latest events & trainings-->
				</div>
			</div>
		</div>
		<!-- Modal Search-->

		<main class="content">
			<div class="breadcrumb-container">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<nav>
								<ol class="breadcrumb">
									<li class="breadcrumb-item">
										<a href="index.html">Home</a>
									</li>
									<li class="breadcrumb-item">
										<a href="events.html">Events</a>
									</li>
									<li class="breadcrumb-item">CIS & Eastern Europe Coatings Conference</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- Breadcrumbs-->

			<section class="event-inner-page">
				<div class="page-intro secondary">
					<div class="intro-content cover-center" style="background-image: url(images/events/selected.jpg)"></div>

					<div class="container-fluid" data-aos="fade-in" data-aos-duration="1500">
						<div class="row">
							<div class="col-12">
								<div class="flex">
									<div class="date">
										<i class="icon-calendar"></i>16 January, 2019
									</div>
									<div class="location">
										<i class="icon-marker"></i>Baku, Azerbaijan
									</div>
								</div>
								<h1 class="title">CIS & Eastern Europe Coatings Conference</h1>
								<p>Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Page intro-->

				<div class="page-content ptb-6">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="page-body flex">
									<div class="left">
										<div class="editor-body" data-aos="fade-in" data-aos-duration="1200">
											<h1>The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan. </h1>
											<p>The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.</p>
											<p>Humphreys made a late charge in a bid to add to the Welsh and Irish Women’s Stroke Play titles she won earlier in the season but in the end a birdie at the last for a 68 was not quite enough.</p>
											<p>Scottish international McWilliam also moved up the field with four birdies in the opening 15 holes of her final round but a bogey at the last meant she had to settle for a 69 which left her one shot short.</p>
											<p>Dutrieux made her move in the morning with a 69 and she looked as if she would maintain her run when she fired five birdies in seven holes from the fifth but four dropped shots over the closing stretch saw her also come up one shot short in the group in second place.</p>
											<p>Belsham knew she needed to birdie the last to take Earl into a play-off but it was not to be and her 74 also saw her finish in the group on one under par 287.</p>
											<p>The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.</p>
											<p>Humphreys made a late charge in a bid to add to the Welsh and Irish Women’s Stroke Play titles she won earlier in the season but in the end a birdie at the last for a 68 was not quite enough.</p>
											<p>Scottish international McWilliam also moved up the field with four birdies in the opening 15 holes of her final round but a bogey at the last meant she had to settle for a 69 which left her one shot short.</p>
										</div>
										<!-- Editor body-->
									</div>
									<!-- Left-->

									<div class="right">
										<div class="other-articles" data-aos="fade-in" data-aos-duration="1200">
											<div class="swiper-container">
												<div class="swiper-wrapper">
													<div class="swiper-slide">
														<div class="block-backgrounded">
															<div class="swiper-lazy image" data-background="images/events/other.jpg"></div>

															<div class="info flex">
																<h3 class="title">
																	<a href="event-inner.html">Azerbaijan-India Roadshow on Travel Trade in Delhi, Bengaluru and Mumbai</a>
																</h3>
																<div class="date">
																	<i class="icon-calendar"></i>18 January, 2019
																</div>
																<div class="location">
																	<i class="icon-marker"></i>Qabala, Azerbaijan
																</div>
															</div>
														</div>
													</div>

													<div class="swiper-slide">
														<div class="block-backgrounded">
															<div class="swiper-lazy image" data-background="images/events/other.jpg"></div>

															<div class="info flex">
																<h3 class="title">
																	<a href="event-inner.html">Azerbaijan-India Roadshow on Travel Trade in Delhi, Bengaluru and Mumbai</a>
																</h3>
																<div class="date">
																	<i class="icon-calendar"></i>18 January, 2019
																</div>
																<div class="location">
																	<i class="icon-marker"></i>Qabala, Azerbaijan
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="swiper-pagination"></div>
											</div>
											<!-- Slider container-->

											<div class="see-all flex-center">
												<a class="flex" href="events.html">See all events<i class="icon-arrow-longer"></i></a>
											</div>
											<!-- See all-->
										</div>
										<!-- Other events-->

										<div class="apply-event-container">
											<h3 class="event-title">Azerbaijan-India Roadshow on Travel Trade in Delhi, Bengaluru and Mumbai</h3>

											<button class="btn-custom" data-toggle="modal" data-target="#modal-apply-event">Apply event</button>
										</div>
										<!-- Apply event-->
									</div>
									<!-- Right-->

									<div class="gallery-container" data-aos="fade-in" data-aos-duration="1200">
										<div class="section-header flex">
											<h2 class="section-title">Gallery</h2>

											<div class="slider-controls flex">
												<div class="prev-slide">
													<i class="icon-arrow-longest"></i>
												</div>
												<div class="next-slide">
													<i class="icon-arrow-longest"></i>
												</div>
											</div>
										</div>
										<!-- Section header-->

										<div class="swiper-container gallery">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<div class="swiper-lazy cover-center" data-background="images/gallery/image0.jpg">
														<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="swiper-lazy cover-center" data-background="images/gallery/image1.jpg">
														<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="swiper-lazy cover-center" data-background="images/gallery/image2.jpg">
														<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="swiper-lazy cover-center" data-background="images/gallery/image3.jpg">
														<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="swiper-lazy cover-center" data-background="images/gallery/image0.jpg">
														<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="swiper-lazy cover-center" data-background="images/gallery/image1.jpg">
														<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Gallery container-->
								</div>
								<!-- Page body-->
							</div>
						</div>
					</div>
				</div>
				<!-- Page content-->

				<div class="related-events events ptb-9" data-aos="fade-in" data-aos-duration="1200">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="section-header flex">
									<h2 class="section-title">Related events & Trainings</h2>

									<div class="slider-controls flex hidden-768">
										<div class="prev-slide">
											<i class="icon-arrow-longest"></i>
										</div>
										<div class="next-slide">
											<i class="icon-arrow-longest"></i>
										</div>
									</div>
								</div>
								<!-- Section header-->

								<div class="swiper-container events-slider x-3">
									<div class="swiper-wrapper">
										<div class="swiper-slide no-swipe">
											<div class="event-block flex">
												<div class="image">
													<a href="event-inner.html">
														<div class="swiper-lazy cover-center" data-background="images/events/image0.jpg"></div>
													</a>
												</div>
												<div class="info flex">
													<h3 class="title">
														<a href="event-inner.html">45th International Association for Educational Assessment Conference</a>
													</h3>
													<div class="date">
														<i class="icon-calendar"></i>16 January, 2019
													</div>
													<div class="location">
														<i class="icon-marker"></i>Baku, Azerbaijan
													</div>
												</div>
											</div>
										</div>

										<div class="swiper-slide no-swipe">
											<div class="event-block flex">
												<div class="image">
													<a href="event-inner.html">
														<div class="swiper-lazy cover-center" data-background="images/events/image1.jpg"></div>
													</a>
												</div>
												<div class="info flex">
													<h3 class="title">
														<a href="event-inner.html">CIS & Eastern Europe Coatings Conference</a>
													</h3>
													<div class="date">
														<i class="icon-calendar"></i>3 March, 2019
													</div>
													<div class="location">
														<i class="icon-marker"></i>Qabala, Azerbaijan
													</div>
												</div>
											</div>
										</div>

										<div class="swiper-slide no-swipe">
											<div class="event-block flex">
												<div class="image">
													<a href="event-inner.html">
														<div class="swiper-lazy cover-center" data-background="images/events/image2.jpg"></div>
													</a>
												</div>
												<div class="info flex">
													<h3 class="title">
														<a href="event-inner.html">International Conference on Application of Information and Communication Technologies</a>
													</h3>
													<div class="date">
														<i class="icon-calendar"></i>9 September, 2019
													</div>
													<div class="location">
														<i class="icon-marker"></i>Shaki, Azerbaijan
													</div>
												</div>
											</div>
										</div>

										<div class="swiper-slide no-swipe">
											<div class="event-block flex">
												<div class="image">
													<a href="event-inner.html">
														<div class="swiper-lazy cover-center" data-background="images/events/image0.jpg"></div>
													</a>
												</div>
												<div class="info flex">
													<h3 class="title">
														<a href="event-inner.html">45th International Association for Educational Assessment Conference</a>
													</h3>
													<div class="date">
														<i class="icon-calendar"></i>16 January, 2019
													</div>
													<div class="location">
														<i class="icon-marker"></i>Baku, Azerbaijan
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="swiper-pagination"></div>
								</div>
								<!-- Slider container-->
							</div>
						</div>
					</div>
				</div>
				<!-- Related events-->

			</section>
			<!-- Event inner page-->

			<section class="subscribe">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-6">
							<h3 class="title">Subscribe to Newsletters and get notifications about the Latest Events</h3>
						</div>
						<!-- Col-->

						<div class="col-lg-6">
							<form class="subscribe-form" action="#" method="get">
								<div class="form-group">
									<input class="form-control" type="email" required placeholder="E-mail">
								</div>

								<button class="btn-custom submit-subscribe">Subscribe</button>
							</form>
						</div>
						<!-- Col-->
					</div>

					<div class="confirm-subscribe text-center flex">
						<h3 class="confirm-title">Thank You! We have sent you confirmation e-mail!</h3>
						<p>Your subscription has been confirmed. You have been added to our list and will hear from us soon.</p>
					</div>
				</div>
			</section>
			<!-- Subscribe to newsletters-->

			<div class="modal form-modal" id="modal-apply-event" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="custom-card">
							<div class="card-header">
								<h3 class="card-title">Apply for event</h3>

								<div class="close-modal" data-dismiss="modal">
									<i class="icon-times"></i>
								</div>
							</div>
							<!-- Card header-->

							<div class="card-body">
								<p class="card-body-title">CIS & Eastern Europe Coatings Conference</p>

								<form action="#" method="POST">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Hotel Name" required>
									</div>

									<div class="form-group">
										<input class="form-control" type="text" placeholder="Hotelier Name" required>
									</div>

									<div class="form-group">
										<input class="form-control" type="text" placeholder="Position" required>
									</div>

									<div class="form-group">
										<input class="form-control" type="text" placeholder="E-mail address" required>
									</div>

									<div class="form-group text-center">
										<input type="checkbox" id="terms">
										<label for="terms">Please choose the exhibition <a href="#" target="_blank">terms & conditions</a></label>
									</div>

									<button class="btn-custom" type="submit">Apply</button>
								</form>
							</div>
							<!-- Card body-->
						</div>
						<!-- Custom card-->
					</div>
				</div>
			</div>
			<!-- Modal apply event-->

		</main>

		<footer>
			<div class="footer-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Introduction</a></li>
								<li><a href="#">Our Goals</a></li>
								<li><a href="#">Organization of the Association</a></li>
								<li><a href="#">Statue</a></li>
								<li><a href="#">Code of Ethics</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Membership</a></li>
								<li><a href="#">Membership benefits and conditions</a></li>
								<li><a href="#">Become a Member</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Events & Trainings</a></li>
								<li><a href="#">Calendar</a></li>
								<li><a href="#">Search event</a></li>
								<li><a href="#">Registration for Event or Training</a></li>
								<li><a href="#">Event archive</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">News & Media</a></li>
								<li><a href="#">Calendar</a></li>
								<li><a href="#">Search news</a></li>
								<li><a href="#">Subscribe for News</a></li>
								<li><a href="#">Event archive</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Classification</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
							<div class="contact-info">
								<p>Marketing Department</p><a class="phone" href="tel:8-(800)-700-43-43">8 (800) 700-43-43</a>
								<a class="email" href="mailto:office@tourismboard.az"><i class="icon-mail"></i>office@tourismboard.az</a>

								<ul class="socials">
									<li>
										<a href="https://facebook.com" target="_blank"><i class="icon-facebook"></i></a>
									</li>
									<li>
										<a href="https://twitter.com" target="_blank"><i class="icon-twitter"></i></a>
									</li>
									<li>
										<a href="https://instagram.com" target="_blank"><i class="icon-instagram"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<!-- Col-->
					</div>
				</div>
			</div>
			<!-- Footer top-->

			<div class="footer-bottom hidden-576">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="theme-toggler"><i class="icon-glasses"></i></div>
							<!-- Toggle theme-->

							<div class="sitemap">
								<a class="flex" href="sitemap.html"><i class="icon-list"></i>Sitemap
								</a>
							</div>
							<!-- Sitemap-->

							<div class="toggle-search" data-toggle="modal" data-target="#modal-search"><i class="icon-search"></i></div>
							<!-- Toggle search-->

							<div class="langs">
								<div class="dropdown">
									<button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
										EN<i class="icon-dropdown-arrow"></i>
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">RU</a>
										<a class="dropdown-item" href="#">AZ</a>
									</div>
								</div>
							</div>
							<!-- Langs-->
						</div>
					</div>
				</div>
			</div>
			<!-- Footer bottom-->

			<div class="copyrights">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<p>© 2019. Azerbaijan Hotel Association</p>

							<ul>
								<li><a href="terms.html">Terms and conditions</a></li>
								<li><a href="policy.html">Privacy policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Copyrights-->
		</footer>

		<script src="js/jquery.js"></script>
		<script src="js/toastr.js"></script>
		<script src="js/photoUpload.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>

</html>

src/pug/pages/event-inner.pug
extends ../layout/layout.pug

block content
    .breadcrumb-container
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item
                                ="\n"
                                a(href="events.html") Events
                            li.breadcrumb-item CIS & Eastern Europe Coatings Conference
    // Breadcrumbs
    |
    |
    section.event-inner-page
        .page-intro.secondary
            .intro-content.cover-center(style="background-image: url("+ require("../../images/events/selected.jpg") +")")
            |
            |
            .container-fluid(data-aos="fade-in" data-aos-duration="1500")
                .row
                    .col-12
                        .flex
                            .date
                                ="\n"
                                i.icon-calendar
                                | 16 January, 2019
                            .location
                                ="\n"
                                i.icon-marker
                                | Baku, Azerbaijan
                        h1.title CIS & Eastern Europe Coatings Conference
                        p Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
        // Page intro
        |
        |
        .page-content.ptb-6
            .container-fluid
                .row
                    .col-12
                        .page-body.flex
                            .left
                                .editor-body(data-aos="fade-in" data-aos-duration="1200")
                                    h1 The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan. 
                                    p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.
                                    p Humphreys made a late charge in a bid to add to the Welsh and Irish Women’s Stroke Play titles she won earlier in the season but in the end a birdie at the last for a 68 was not quite enough.
                                    p Scottish international McWilliam also moved up the field with four birdies in the opening 15 holes of her final round but a bogey at the last meant she had to settle for a 69 which left her one shot short.
                                    p Dutrieux made her move in the morning with a 69 and she looked as if she would maintain her run when she fired five birdies in seven holes from the fifth but four dropped shots over the closing stretch saw her also come up one shot short in the group in second place.
                                    p Belsham knew she needed to birdie the last to take Earl into a play-off but it was not to be and her 74 also saw her finish in the group on one under par 287.
                                    p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.
                                    p Humphreys made a late charge in a bid to add to the Welsh and Irish Women’s Stroke Play titles she won earlier in the season but in the end a birdie at the last for a 68 was not quite enough.
                                    p Scottish international McWilliam also moved up the field with four birdies in the opening 15 holes of her final round but a bogey at the last meant she had to settle for a 69 which left her one shot short.
                                // Editor body
                            // Left
                            |
                            |
                            .right
                                .other-articles(data-aos="fade-in" data-aos-duration="1200")
                                    .swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .block-backgrounded
                                                    .swiper-lazy.image(data-background=require("../../images/events/other.jpg"))
                                                    |
                                                    |
                                                    .info.flex
                                                        h3.title
                                                            ="\n"
                                                            a(href="event-inner.html") Azerbaijan-India Roadshow on Travel Trade in Delhi, Bengaluru and Mumbai
                                                        .date
                                                            ="\n"
                                                            i.icon-calendar
                                                            | 18 January, 2019
                                                        .location
                                                            ="\n"
                                                            i.icon-marker
                                                            | Qabala, Azerbaijan
                                            |
                                            |
                                            .swiper-slide
                                                .block-backgrounded
                                                    .swiper-lazy.image(data-background=require("../../images/events/other.jpg"))
                                                    |
                                                    |
                                                    .info.flex
                                                        h3.title
                                                            ="\n"
                                                            a(href="event-inner.html") Azerbaijan-India Roadshow on Travel Trade in Delhi, Bengaluru and Mumbai
                                                        .date
                                                            ="\n"
                                                            i.icon-calendar
                                                            | 18 January, 2019
                                                        .location
                                                            ="\n"
                                                            i.icon-marker
                                                            | Qabala, Azerbaijan
                                        |
                                        |
                                        .swiper-pagination
                                    // Slider container
                                    |
                                    |
                                    .see-all.flex-center
                                        ="\n"
                                        a(href="events.html" class="flex")
                                            | See all events
                                            i.icon-arrow-longer
                                    // See all
                                // Other events
                                |
                                |
                                .apply-event-container
                                    h3.event-title Azerbaijan-India Roadshow on Travel Trade in Delhi, Bengaluru and Mumbai
                                    ="\n"
                                    button.btn-custom(data-toggle="modal" data-target="#modal-apply-event") Apply event
                                // Apply event
                            // Right
                            |
                            |
                            .gallery-container(data-aos="fade-in" data-aos-duration="1200")
                                .section-header.flex
                                    h2.section-title Gallery
                                    |
                                    |
                                    .slider-controls.flex
                                        .prev-slide
                                            ="\n"
                                            i.icon-arrow-longest
                                        .next-slide
                                            ="\n"
                                            i.icon-arrow-longest
                                // Section header
                                |
                                |
                                .swiper-container.gallery
                                    .swiper-wrapper
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/gallery/image0.jpg"))
                                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/gallery/image1.jpg"))
                                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/gallery/image2.jpg"))
                                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/gallery/image3.jpg"))
                                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/gallery/image0.jpg"))
                                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/gallery/image1.jpg"))
                                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            // Gallery container
                        // Page body
        // Page content
        |
        |
        .related-events.events.ptb-9(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-12
                        .section-header.flex
                            h2.section-title Related events & Trainings
                            |
                            |
                            .slider-controls.flex.hidden-768
                                .prev-slide
                                    ="\n"
                                    i.icon-arrow-longest
                                .next-slide
                                    ="\n"
                                    i.icon-arrow-longest
                        // Section header
                        |
                        |
                        .swiper-container.events-slider.x-3
                            .swiper-wrapper
                                .swiper-slide.no-swipe
                                    .event-block.flex
                                        .image
                                            ="\n"
                                            a(href="event-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/events/image0.jpg"))
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                            .date
                                                ="\n"
                                                i.icon-calendar
                                                | 16 January, 2019
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Azerbaijan
                                |
                                |
                                .swiper-slide.no-swipe
                                    .event-block.flex
                                        .image
                                            ="\n"
                                            a(href="event-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/events/image1.jpg"))
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="event-inner.html") CIS & Eastern Europe Coatings Conference
                                            .date
                                                ="\n"
                                                i.icon-calendar
                                                | 3 March, 2019
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Qabala, Azerbaijan
                                |
                                |
                                .swiper-slide.no-swipe
                                    .event-block.flex
                                        .image
                                            ="\n"
                                            a(href="event-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/events/image2.jpg"))
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="event-inner.html") International Conference on Application of Information and Communication Technologies
                                            .date
                                                ="\n"
                                                i.icon-calendar
                                                | 9 September, 2019
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Shaki, Azerbaijan
                                |
                                |
                                .swiper-slide.no-swipe
                                    .event-block.flex
                                        .image
                                            ="\n"
                                            a(href="event-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/events/image0.jpg"))
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                            .date
                                                ="\n"
                                                i.icon-calendar
                                                | 16 January, 2019
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Azerbaijan
                            |
                            |
                            .swiper-pagination
                        // Slider container
        // Related events
        |
        |
    // Event inner page
    |
    |
    include ../includes/subscribe.pug
    |
    |
    div(class="modal form-modal" id="modal-apply-event" tabindex="-1")
        div(class="modal-dialog")
            div(class="modal-content")
                .custom-card
                    .card-header
                        h3.card-title Apply for event
                        |
                        |
                        .close-modal(data-dismiss="modal")
                            ="\n"
                            i.icon-times
                    // Card header
                    |
                    |
                    .card-body
                        p.card-body-title CIS & Eastern Europe Coatings Conference
                        |
                        |
                        form(action="#" method="POST")
                            .form-group
                                input(type="text" class="form-control" placeholder="Hotel Name" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Hotelier Name" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Position" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="E-mail address" required)
                            |
                            |
                            .form-group.text-center
                                input(type="checkbox" id="terms")
                                label(for="terms") Please choose the exhibition #[a(href="#" target="_blank") terms & conditions]
                            |
                            |
                            button(type="submit" class="btn-custom") Apply
                    // Card body
                // Custom card
    // Modal apply event
    |
    |
