src/pug/pages/events.pug
extends ../layout/layout.pug

block content
    .breadcrumb-container
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item Events
    // Breadcrumbs
    |
    |
    section.events-page
        .page-intro
            .intro-content.cover-center(style="background-image: url("+ require("../../images/events/cover.jpg") +")")
            |
            |
            .container-fluid
                .row
                    .col-12
                        h1.title(data-aos="fade-in" data-aos-duration="1500") Events & Trainings
                        p(data-aos="fade-in" data-aos-duration="1500") Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
        // Page intro
        |
        |
        .event-types
            .container-fluid
                .row
                    .col-12.flex
                        ul.text-center
                            li
                                ="\n"
                                a(href="#" class="active") All
                            li
                                ="\n"
                                a(href="#") Events
                            li
                                ="\n"
                                a(href="#") Trainings
        // Other page categories
        |
        |
        .page-filters(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-12.flex
                        ul.by-type
                            li
                                ="\n"
                                a(href="#" class="active") All Events
                            li
                                ="\n"
                                a(href="#") Current
                            li
                                ="\n"
                                a(href="#") Upcoming
                            li
                                ="\n"
                                a(href="#") Completed
                            li
                                ="\n"
                                a(href="#") Archieve
                        // By type
                        |
                        |
                        .by-date
                            form(action="#" method="get")
                                .form-group
                                    input(type="text" class="form-control date-from" data-language="en" placeholder="Date from")
                                |
                                |
                                .form-group
                                    input(type="text" class="form-control date-to" data-language="en" placeholder="Date to")
                        // By date
        // Page / category filters
        |
        |
        .events-list(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 16 January, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Baku, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image1.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") CIS & Eastern Europe Coatings Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 3 March, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Qabala, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image2.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") International Conference on Application of Information and Communication Technologies
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 9 September, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Shaki, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 16 January, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Baku, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image1.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") CIS & Eastern Europe Coatings Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 3 March, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Qabala, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image2.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") International Conference on Application of Information and Communication Technologies
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 9 September, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Shaki, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 16 January, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Baku, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image1.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") CIS & Eastern Europe Coatings Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 3 March, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Qabala, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image2.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") International Conference on Application of Information and Communication Technologies
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 9 September, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Shaki, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 16 January, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Baku, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image1.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") CIS & Eastern Europe Coatings Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 3 March, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Qabala, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image2.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") International Conference on Application of Information and Communication Technologies
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 9 September, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Shaki, Azerbaijan
                    // Col
                    |
                    |
        // Events list
        |
        |
        nav
            ul.pagination
                li.page-item.disabled
                    ="\n"
                    a.page-link(href="#") Prev
                li.page-item
                    ="\n"
                    a.page-link(href="#") Next
                li.page-item
                    ="\n"
                    a.page-link(href="#") 1
                li.page-item.active
                    ="\n"
                    a.page-link(href="#") 2
                li.page-item
                    ="\n"
                    a.page-link(href="#") 3
                li.page-item
                    ="\n"
                    a.page-link(href="#") ...
                li.page-item
                    ="\n"
                    a.page-link(href="#") 6
        // Pagination
        |
        |
    // Events Page
    |
    |
    include ../includes/subscribe.pug
    |
    |

dist/events.html
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Azerbaijan Hotel Association</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>
		<div class="lds-css ng-scope">
			<div class="lds-spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<header>
			<div class="header-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="theme-toggler"><i class="icon-glasses"></i></div>
							<!-- Toggle theme-->

							<div class="sitemap">
								<a class="flex" href="sitemap.html"><i class="icon-list"></i>Sitemap
								</a>
							</div>
							<!-- Sitemap-->

							<div class="toggle-search" data-toggle="modal" data-target="#modal-search"><i class="icon-search"></i></div>
							<!-- Toggle search-->

							<div class="langs">
								<div class="dropdown">
									<button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
										EN<i class="icon-dropdown-arrow"></i>
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">RU</a>
										<a class="dropdown-item" href="#">AZ</a>
									</div>
								</div>
							</div>
							<!-- Langs-->
						</div>
					</div>
				</div>
			</div>
			<!-- Header top-->

			<div class="header-bottom">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="logo">
								<a href="index.html">
									<img src="images/logo.svg">
								</a>
							</div>
							<!-- Logo-->

							<nav class="main-menu hidden-1024">
								<ul>
									<li>
										<a href="javascript:void(0)">About Us</a>

										<ul class="submenu">
											<li>
												<a href="about.html">About Association</a>
											</li>
											<li>
												<a href="team.html">Team members</a>
											</li>
											<li>
												<a href="contact.html">Contact us</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="events.html">Events & Trainings</a>
									</li>
									<li>
										<a href="news.html">News & Media</a>
									</li>
									<li>
										<a href="javascript:void(0)">Membership</a>

										<ul class="submenu">
											<li>
												<a href="regular-membership.html">Regular membership</a>
											</li>
											<li>
												<a href="associate-membership.html">Associate membership</a>
											</li>
											<li>
												<a href="sponsorship.html">Sponsorship</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="classification.html">Classification</a>
									</li>
									<li>
										<a href="javascript:void(0)">Reports</a>

										<ul class="submenu">
											<li>
												<a href="statistics.html">Statistics reports</a>
											</li>
											<li>
												<a href="reports.html">Trends reports</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0)">Member's area</a>

										<ul class="submenu">
											<li>
												<a href="cabinet-upcoming-events.html">
													<i class="icon-hotel"></i>Bilgah Beach Hotel
												</a>
											</li>
											<li>
												<a href="account-index.html">
													<i class="icon-settings"></i>Account Setings
												</a>
											</li>
											<li>
												<a href="#">
													<i class="icon-logout"></i>Logout
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</nav>
							<!-- Main menu-->

							<div class="menu-toggler visible-1024">
								<span></span>
								<span></span>
								<span></span>
							</div>
							<!-- Menu toggler-->
						</div>
					</div>
				</div>
			</div>
			<!-- Header bottom-->

			<div class="side-menu visible-1024">
				<ul>
					<li>
						<a href="#menu-item0" data-toggle="collapse" aria-expanded="false">About Us</a>

						<div class="collapse" id="menu-item0">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="about.html">About Association</a>
									</li>
									<li>
										<a href="team.html">Team members</a>
									</li>
									<li>
										<a href="contact.html">Contact us</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="events.html">Events & Trainings</a>
					</li>
					<li>
						<a href="news.html">News & Media</a>
					</li>
					<li>
						<a href="#menu-item1" data-toggle="collapse" aria-expanded="false">Membership</a>

						<div class="collapse" id="menu-item1">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="regular-membership.html">Regular membership</a>
									</li>
									<li>
										<a href="associate-membership.html">Associate membership</a>
									</li>
									<li>
										<a href="sponsorship.html">Sponsorship</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="classification.html">Classification</a>
					</li>
					<li>
						<a href="#menu-item2" data-toggle="collapse" aria-expanded="false">Reports</a>

						<div class="collapse" id="menu-item2">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="statistics.html">Statistics reports</a>
									</li>
									<li>
										<a href="trends.html">Trends reports</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="#menu-item3" data-toggle="collapse" aria-expanded="false">Members area</a>

						<div class="collapse" id="menu-item3">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="cabinet-upcoming-events.html">Bilgah Beach Hotel</a>
									</li>
									<li>
										<a href="account-index.html">Account Settings</a>
									</li>
									<li>
										<a href="#">Logout</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- Side menu-->
		</header>
		<!-- Header-->


		<div class="modal" id="modal-search" tabindex="-1">
			<div class="close-modal" data-dismiss="modal">
				<i class="icon-times"></i>
			</div>

			<div class="modal-dialog">
				<div class="modal-content">
					<form class="search-form" action="#" method="GET">
						<div class="form-group">
							<input class="form-control" type="text" minlength="3" placeholder="Search" required>
						</div>

						<button class="submit-search" type="submit">
							<i class="icon-search"></i>
						</button>

						<button class="clear-search" type="button">
							<i class="icon-times"></i>
						</button>
					</form>
					<!-- Search form-->

					<div class="search-results">
						<div class="search-item flex">
							<div class="image">
								<a href="#">
									<img src="images/events/image0.jpg">
								</a>
							</div>
							<div class="info"><a class="title" href="#">International Conference on Application of Information and Communication Technologies</a>
								<div class="description">
									<p>Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details...<a href="#">Read More</a></p>
								</div>
							</div>
						</div>
						<!-- Search item-->

						<div class="search-item flex">
							<div class="image">
								<a href="#">
									<img src="images/events/image1.jpg">
								</a>
							</div>
							<div class="info"><a class="title" href="#">International Conference on Application of Information and Communication Technologies</a>
								<div class="description">
									<p>Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details...<a href="#">Read More</a></p>
								</div>
							</div>
						</div>
						<!-- Search item-->
					</div>
					<!-- Search results-->

					<div class="latest-trainings hidden-768">
						<div class="row">
							<div class="col-12">
								<h3 class="block-title">Latest events & trainings</h3>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image0.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">45th International Association for Educational Assessment Conference</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image1.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">CIS & Eastern Europe Coatings Conference</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image2.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">International Conference on Application of Information and Communication Technologies</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->
						</div>
					</div>
					<!-- Latest events & trainings-->
				</div>
			</div>
		</div>
		<!-- Modal Search-->

		<main class="content">
			<div class="breadcrumb-container">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<nav>
								<ol class="breadcrumb">
									<li class="breadcrumb-item">
										<a href="index.html">Home</a>
									</li>
									<li class="breadcrumb-item">Events</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- Breadcrumbs-->

			<section class="events-page">
				<div class="page-intro">
					<div class="intro-content cover-center" style="background-image: url(images/events/cover.jpg)"></div>

					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<h1 class="title" data-aos="fade-in" data-aos-duration="1500">Events & Trainings</h1>
								<p data-aos="fade-in" data-aos-duration="1500">Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Page intro-->

				<div class="event-types">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12 flex">
								<ul class="text-center">
									<li>
										<a class="active" href="#">All</a>
									</li>
									<li>
										<a href="#">Events</a>
									</li>
									<li>
										<a href="#">Trainings</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- Other page categories-->

				<div class="page-filters" data-aos="fade-in" data-aos-duration="1200">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12 flex">
								<ul class="by-type">
									<li>
										<a class="active" href="#">All Events</a>
									</li>
									<li>
										<a href="#">Current</a>
									</li>
									<li>
										<a href="#">Upcoming</a>
									</li>
									<li>
										<a href="#">Completed</a>
									</li>
									<li>
										<a href="#">Archieve</a>
									</li>
								</ul>
								<!-- By type-->

								<div class="by-date">
									<form action="#" method="get">
										<div class="form-group">
											<input class="form-control date-from" type="text" data-language="en" placeholder="Date from">
										</div>

										<div class="form-group">
											<input class="form-control date-to" type="text" data-language="en" placeholder="Date to">
										</div>
									</form>
								</div>
								<!-- By date-->
							</div>
						</div>
					</div>
				</div>
				<!-- Page / category filters-->

				<div class="events-list" data-aos="fade-in" data-aos-duration="1200">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-4 col-sm-6">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image0.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">45th International Association for Educational Assessment Conference</a>
										</h3>
										<div class="date">
											<i class="icon-calendar"></i>16 January, 2019
										</div>
										<div class="location">
											<i class="icon-marker"></i>Baku, Azerbaijan
										</div>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-lg-4 col-sm-6">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image1.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">CIS & Eastern Europe Coatings Conference</a>
										</h3>
										<div class="date">
											<i class="icon-calendar"></i>3 March, 2019
										</div>
										<div class="location">
											<i class="icon-marker"></i>Qabala, Azerbaijan
										</div>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-lg-4 col-sm-6">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image2.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">International Conference on Application of Information and Communication Technologies</a>
										</h3>
										<div class="date">
											<i class="icon-calendar"></i>9 September, 2019
										</div>
										<div class="location">
											<i class="icon-marker"></i>Shaki, Azerbaijan
										</div>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-lg-4 col-sm-6">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image0.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">45th International Association for Educational Assessment Conference</a>
										</h3>
										<div class="date">
											<i class="icon-calendar"></i>16 January, 2019
										</div>
										<div class="location">
											<i class="icon-marker"></i>Baku, Azerbaijan
										</div>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-lg-4 col-sm-6">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image1.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">CIS & Eastern Europe Coatings Conference</a>
										</h3>
										<div class="date">
											<i class="icon-calendar"></i>3 March, 2019
										</div>
										<div class="location">
											<i class="icon-marker"></i>Qabala, Azerbaijan
										</div>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-lg-4 col-sm-6">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image2.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">International Conference on Application of Information and Communication Technologies</a>
										</h3>
										<div class="date">
											<i class="icon-calendar"></i>9 September, 2019
										</div>
										<div class="location">
											<i class="icon-marker"></i>Shaki, Azerbaijan
										</div>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-lg-4 col-sm-6">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image0.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">45th International Association for Educational Assessment Conference</a>
										</h3>
										<div class="date">
											<i class="icon-calendar"></i>16 January, 2019
										</div>
										<div class="location">
											<i class="icon-marker"></i>Baku, Azerbaijan
										</div>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-lg-4 col-sm-6">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image1.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">CIS & Eastern Europe Coatings Conference</a>
										</h3>
										<div class="date">
											<i class="icon-calendar"></i>3 March, 2019
										</div>
										<div class="location">
											<i class="icon-marker"></i>Qabala, Azerbaijan
										</div>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-lg-4 col-sm-6">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image2.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">International Conference on Application of Information and Communication Technologies</a>
										</h3>
										<div class="date">
											<i class="icon-calendar"></i>9 September, 2019
										</div>
										<div class="location">
											<i class="icon-marker"></i>Shaki, Azerbaijan
										</div>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-lg-4 col-sm-6">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image0.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">45th International Association for Educational Assessment Conference</a>
										</h3>
										<div class="date">
											<i class="icon-calendar"></i>16 January, 2019
										</div>
										<div class="location">
											<i class="icon-marker"></i>Baku, Azerbaijan
										</div>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-lg-4 col-sm-6">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image1.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">CIS & Eastern Europe Coatings Conference</a>
										</h3>
										<div class="date">
											<i class="icon-calendar"></i>3 March, 2019
										</div>
										<div class="location">
											<i class="icon-marker"></i>Qabala, Azerbaijan
										</div>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-lg-4 col-sm-6">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image2.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">International Conference on Application of Information and Communication Technologies</a>
										</h3>
										<div class="date">
											<i class="icon-calendar"></i>9 September, 2019
										</div>
										<div class="location">
											<i class="icon-marker"></i>Shaki, Azerbaijan
										</div>
									</div>
								</div>
							</div>
							<!-- Col-->

						</div>
					</div>
				</div>
				<!-- Events list-->

				<nav>
					<ul class="pagination">
						<li class="page-item disabled">
							<a class="page-link" href="#">Prev</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">Next</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">1</a>
						</li>
						<li class="page-item active">
							<a class="page-link" href="#">2</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">3</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">...</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">6</a>
						</li>
					</ul>
				</nav>
				<!-- Pagination-->

			</section>
			<!-- Events Page-->

			<section class="subscribe">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-6">
							<h3 class="title">Subscribe to Newsletters and get notifications about the Latest Events</h3>
						</div>
						<!-- Col-->

						<div class="col-lg-6">
							<form class="subscribe-form" action="#" method="get">
								<div class="form-group">
									<input class="form-control" type="email" required placeholder="E-mail">
								</div>

								<button class="btn-custom submit-subscribe">Subscribe</button>
							</form>
						</div>
						<!-- Col-->
					</div>

					<div class="confirm-subscribe text-center flex">
						<h3 class="confirm-title">Thank You! We have sent you confirmation e-mail!</h3>
						<p>Your subscription has been confirmed. You have been added to our list and will hear from us soon.</p>
					</div>
				</div>
			</section>
			<!-- Subscribe to newsletters-->

		</main>

		<footer>
			<div class="footer-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Introduction</a></li>
								<li><a href="#">Our Goals</a></li>
								<li><a href="#">Organization of the Association</a></li>
								<li><a href="#">Statue</a></li>
								<li><a href="#">Code of Ethics</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Membership</a></li>
								<li><a href="#">Membership benefits and conditions</a></li>
								<li><a href="#">Become a Member</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Events & Trainings</a></li>
								<li><a href="#">Calendar</a></li>
								<li><a href="#">Search event</a></li>
								<li><a href="#">Registration for Event or Training</a></li>
								<li><a href="#">Event archive</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">News & Media</a></li>
								<li><a href="#">Calendar</a></li>
								<li><a href="#">Search news</a></li>
								<li><a href="#">Subscribe for News</a></li>
								<li><a href="#">Event archive</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Classification</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
							<div class="contact-info">
								<p>Marketing Department</p><a class="phone" href="tel:8-(800)-700-43-43">8 (800) 700-43-43</a>
								<a class="email" href="mailto:office@tourismboard.az"><i class="icon-mail"></i>office@tourismboard.az</a>

								<ul class="socials">
									<li>
										<a href="https://facebook.com" target="_blank"><i class="icon-facebook"></i></a>
									</li>
									<li>
										<a href="https://twitter.com" target="_blank"><i class="icon-twitter"></i></a>
									</li>
									<li>
										<a href="https://instagram.com" target="_blank"><i class="icon-instagram"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<!-- Col-->
					</div>
				</div>
			</div>
			<!-- Footer top-->

			<div class="footer-bottom hidden-576">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="theme-toggler"><i class="icon-glasses"></i></div>
							<!-- Toggle theme-->

							<div class="sitemap">
								<a class="flex" href="sitemap.html"><i class="icon-list"></i>Sitemap
								</a>
							</div>
							<!-- Sitemap-->

							<div class="toggle-search" data-toggle="modal" data-target="#modal-search"><i class="icon-search"></i></div>
							<!-- Toggle search-->

							<div class="langs">
								<div class="dropdown">
									<button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
										EN<i class="icon-dropdown-arrow"></i>
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">RU</a>
										<a class="dropdown-item" href="#">AZ</a>
									</div>
								</div>
							</div>
							<!-- Langs-->
						</div>
					</div>
				</div>
			</div>
			<!-- Footer bottom-->

			<div class="copyrights">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<p>© 2019. Azerbaijan Hotel Association</p>

							<ul>
								<li><a href="terms.html">Terms and conditions</a></li>
								<li><a href="policy.html">Privacy policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Copyrights-->
		</footer>

		<script src="js/jquery.js"></script>
		<script src="js/toastr.js"></script>
		<script src="js/photoUpload.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>

</html>
