dist/login.html
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Azerbaijan Hotel Association</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>
		<div class="lds-css ng-scope">
			<div class="lds-spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<main class="content">
			<div class="form-page flex-center">
				<div class="form-page-content">
					<h1 class="form-title text-center">Sign In to Cabinet</h1>

					<div class="form-wrapper">
						<form action="#" method="POST">
							<div class="form-group">
								<input class="form-control" type="email" placeholder="E-mail" required>
							</div>

							<div class="form-group">
								<input class="form-control" type="password" placeholder="Password" required>
								<div class="toggle-password"><i class="icon-eye"></i></div>
							</div>

							<button class="btn-custom btn-block">Sign in</button>

							<div class="actions flex">
								<a href="forgot-password.html">Forgot password?</a>
								<a href="register.html">Apply for Membership</a>
							</div>
						</form>
					</div>
					<!-- Form wrapper-->
				</div>
				<!-- Form page content-->
			</div>
			<!-- Form page-->

		</main>

		<script src="js/jquery.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>

</html>

src/pug/pages/login.pug
extends ../layout/empty-layout.pug

block content
    .form-page.flex-center
        .form-page-content
            h1.form-title.text-center Sign In to Cabinet
            |
            |
            .form-wrapper
                form(action="#" method="POST")
                    .form-group
                        input(type="email" class="form-control" placeholder="E-mail" required)
                    |
                    |
                    .form-group
                        input(type="password" class="form-control" placeholder="Password" required)
                        .toggle-password
                            i.icon-eye
                    |
                    |
                    button(class="btn-custom btn-block") Sign in
                    |
                    |
                    .actions.flex
                        ="\n"
                        a(href="forgot-password.html") Forgot password?
                        ="\n"
                        a(href="register.html") Apply for Membership
            // Form wrapper
        // Form page content
    // Form page
    |
    |
