dist/register-success.html
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Azerbaijan Hotel Association</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>
		<div class="lds-css ng-scope">
			<div class="lds-spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<main class="content">
			<div class="form-page auth-success flex-center">
				<div class="form-page-content">
					<div class="stars text-center">
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
					</div>
					<h1 class="form-title text-center">Congratulations!</h1>
					<p class="form-subtitle text-center">Some description about reseting password... Please choose the exhibition and fill the registration form for collective</p>

					<div class="go-home text-center">
						<a href="index.html">
							<i class="icon-arrow-longer"></i>Back to home
						</a>
					</div>
				</div>
			</div>
			<!-- Form page-->

		</main>

		<script src="js/jquery.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>

</html>

src/pug/pages/register-success.pug
extends ../layout/empty-layout.pug

block content
    .form-page.auth-success.flex-center
        .form-page-content
            .stars.text-center
                ="\n"
                i.icon-star
                ="\n"
                i.icon-star
                ="\n"
                i.icon-star
            h1.form-title.text-center Congratulations!
            p.form-subtitle.text-center Some description about reseting password... Please choose the exhibition and fill the registration form for collective
            |
            |
            .go-home.text-center
                ="\n"
                a(href="index.html")
                    ="\n"
                    i.icon-arrow-longer
                    | Back to home
                    ="\n"
    // Form page
    |
    |
