dist/register-regular-2.html
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Azerbaijan Hotel Association</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>
		<div class="lds-css ng-scope">
			<div class="lds-spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<main class="content">
			<div class="form-page flex-center">
				<div class="form-page-content">
					<h1 class="form-title text-center">Apply for Membership</h1>
					<p class="form-subtitle text-center">Some description about reseting password... Please choose the exhibition and fill the registration form for collective</p>

					<div class="register-steps step-2">
						<div class="step-counts flex">
							<div class="step">
								<div class="num flex-center"><span>1</span></div>
								<div class="name">Company Informations</div>
							</div>

							<div class="step">
								<div class="num flex-center"><span>2</span></div>
								<div class="name">Representative Details</div>
							</div>

							<div class="step">
								<div class="num flex-center"><span>3</span></div>
								<div class="name">Finish</div>
							</div>
						</div>
						<!-- Step counts-->

						<div class="form-wrapper">
							<form action="#" method="POST">
								<div class="fields-group">
									<div class="form-group select">
										<select class="form-control">
											<option value="regular">Regular Membership</option>
											<option value="associate">Associate Membership</option>
										</select>
									</div>

									<div class="form-group">
										<input class="form-control" type="text" placeholder="Hotel Name" required>
									</div>

									<div class="form-group">
										<input class="form-control" type="text" placeholder="Legal Name of Company" required>
									</div>

									<div class="form-group">
										<input class="form-control" type="text" placeholder="Owning Company Full Name and Address" required>
									</div>

									<div class="form-group">
										<input class="form-control" type="text" placeholder="Hotel Address" required>
									</div>

									<div class="form-group">
										<input class="form-control" type="text" placeholder="Tax Number" required>
									</div>

									<div class="form-group">
										<input class="form-control" type="text" placeholder="Hotel Classification and star rating" required>
									</div>

									<div class="form-group select">
										<select class="form-control">
											<option value="0">Number of Rooms & Beds</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
										</select>
									</div>

									<div class="form-group">
										<input class="form-control" type="text" placeholder="Telephone" required>
									</div>

									<div class="form-group">
										<input class="form-control" type="email" placeholder="E-mail" required>
									</div>

									<div class="form-group">
										<input class="form-control" type="text" placeholder="Web-site" required>
									</div>

									<button class="btn-custom btn-block">Next</button>
								</div>
								<!-- Fields group-->

								<div class="fields-group">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Full Name" required>
									</div>

									<div class="form-group">
										<input class="form-control" type="text" placeholder="Position" required>
									</div>

									<div class="form-group">
										<input class="form-control" type="text" placeholder="Mobile phone" required>
									</div>

									<div class="form-group">
										<input class="form-control" type="E-mail" placeholder="E-mail" required>
									</div>

									<div class="form-group text-center">
										<input type="checkbox" id="terms">
										<label for="terms">Please choose the exhibition <a href="#" target="_blank">terms & conditions</a></label>
									</div>

									<button class="btn-custom btn-block">Apply</button>
								</div>
								<!-- Fields group-->
							</form>
						</div>
						<!-- Form wrapper-->
					</div>
					<!-- Register Steps-->
				</div>
				<!-- Form page content-->
			</div>
			<!-- Form page-->

		</main>

		<script src="js/jquery.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>

</html>

src/pug/pages/register-regular-2.pug
extends ../layout/empty-layout.pug

block content
    .form-page.flex-center
        .form-page-content
            h1.form-title.text-center Apply for  Membership
            p.form-subtitle.text-center Some description about reseting password... Please choose the exhibition and fill the registration form for collective
            |
            |
            .register-steps.step-2
                .step-counts.flex
                    .step
                        .num.flex-center
                            span 1
                        .name Company Informations
                    |
                    |
                    .step
                        .num.flex-center
                            span 2
                        .name Representative Details
                    |
                    |
                    .step
                        .num.flex-center
                            span 3
                        .name Finish
                // Step counts
                |
                |
                .form-wrapper
                    form(action="#" method="POST")
                        .fields-group
                            .form-group.select
                                select(class="form-control")
                                    option(value="regular") Regular Membership
                                    option(value="associate") Associate Membership
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Hotel Name" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Legal Name of Company" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Owning Company Full Name and Address" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Hotel Address" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Tax Number" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Hotel Classification and star rating" required)
                            |
                            |
                            .form-group.select
                                select(class="form-control")
                                    option(value="0") Number of Rooms & Beds
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Telephone" required)
                            |
                            |
                            .form-group
                                input(type="email" class="form-control" placeholder="E-mail" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Web-site" required)
                            |
                            |
                            button(class="btn-custom btn-block") Next
                        // Fields group
                        |
                        |
                        .fields-group
                            .form-group
                                input(type="text" class="form-control" placeholder="Full Name" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Position" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Mobile phone" required)
                            |
                            |
                            .form-group
                                input(type="E-mail" class="form-control" placeholder="E-mail" required)
                            |
                            |
                            .form-group.text-center
                                input(type="checkbox" id="terms")
                                label(for="terms") Please choose the exhibition #[a(href="#" target="_blank") terms & conditions]
                            |
                            |
                            button(class="btn-custom btn-block") Apply
                        // Fields group
                // Form wrapper
            // Register Steps
        // Form page content
    // Form page
    |
    |
