src/pug/pages/reset-password.pug
extends ../layout/empty-layout.pug

block content
    .form-page.flex-center
        .form-page-content
            h1.form-title.text-center Reset Password
            p.form-subtitle.text-center Some description about reseting password... Please choose the exhibition and fill the registration form for collective
            |
            |
            .form-wrapper
                form(action="#" method="POST")
                    .form-group
                        input(type="password" class="form-control" placeholder="Type new password" required)
                    |
                    |
                    .form-group
                        input(type="password" class="form-control" placeholder="Retype new password" required)
                    |
                    |
                    button(class="btn-custom btn-block") Save password
            // Form wrapper
        // Form page content
    // Form page
    |
    |

dist/reset-password.html
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Azerbaijan Hotel Association</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>
		<div class="lds-css ng-scope">
			<div class="lds-spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<main class="content">
			<div class="form-page flex-center">
				<div class="form-page-content">
					<h1 class="form-title text-center">Reset Password</h1>
					<p class="form-subtitle text-center">Some description about reseting password... Please choose the exhibition and fill the registration form for collective</p>

					<div class="form-wrapper">
						<form action="#" method="POST">
							<div class="form-group">
								<input class="form-control" type="password" placeholder="Type new password" required>
							</div>

							<div class="form-group">
								<input class="form-control" type="password" placeholder="Retype new password" required>
							</div>

							<button class="btn-custom btn-block">Save password</button>
						</form>
					</div>
					<!-- Form wrapper-->
				</div>
				<!-- Form page content-->
			</div>
			<!-- Form page-->

		</main>

		<script src="js/jquery.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>

</html>
