src/pug/pages/team.pug
extends ../layout/layout.pug

block content
    .breadcrumb-container
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item
                                ="\n"
                                a(href="about.html") About Us
                            li.breadcrumb-item Team Members
    // Breadcrumbs
    |
    |
    section.team-page
        .page-intro.centered
            .intro-content.cover-center(style="background-image: url("+ require("../../images/team-bg.jpg") +")")
            |
            |
            .container-fluid
                .row
                    .col-12
                        h1.title(data-aos="zoom-in" data-aos-duration="1500") Team Members
                        p(data-aos="fade-in" data-aos-duration="1500") Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
        // Page intro
        |
        |
        .page-categories
            ul.flex
                li
                    ="\n"
                    a(href="about.html") About Association
                li.active
                    ="\n"
                    a(href="team.html") Team members
                li
                    ="\n"
                    a(href="contact.html") Contact us
        // Page categories
        |
        |
        .page-short-text.ptb-9
            .container-fluid
                .row
                    .col-xl-10.offset-xl-1
                        .editor-body.text-center
                            p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.
        // Page short text
        |
        |
        .team-members
            .container-fluid
                .row
                    .col-12
                        .team-department.flex(data-aos="fade-in" data-aos-duration="900")
                            h2.section-title.text-center Executive board
                            |
                            |
                            .user-card
                                .card-body.flex
                                    .avatar
                                        ="\n"
                                        a(href="team-inner.html" class="thumb cover-center" style="background-image: url("+ require("../../images/team/image0.jpg") +")")
                                    .info.flex
                                        p.he-is President
                                        h3.name
                                            ="\n"
                                            a(href="team-inner.html") Martin Kleinmann
                                        p.position CEO at Absheron Hotel Group
                            // User card
                        // Team department
                        |
                        |
                        .team-department.flex(data-aos="fade-in" data-aos-duration="900")
                            h2.section-title.text-center Executive office
                            |
                            |
                            .user-card
                                .card-body.flex
                                    .avatar
                                        ="\n"
                                        a(href="team-inner.html" class="thumb cover-center" style="background-image: url("+ require("../../images/team/image1.jpg") +")")
                                    .info.flex
                                        h3.name
                                            ="\n"
                                            a(href="team-inner.html") Name Surname
                                        p.position CEO, Founder
                            // User card
                            |
                            |
                            .user-card
                                .card-body.flex
                                    .avatar
                                        ="\n"
                                        a(href="team-inner.html" class="thumb cover-center" style="background-image: url("+ require("../../images/team/image2.jpg") +")")
                                    .info.flex
                                        h3.name
                                            ="\n"
                                            a(href="team-inner.html") Name Surname
                                        p.position CEO, Founder
                            // User card
                            |
                            |
                            .user-card
                                .card-body.flex
                                    .avatar
                                        ="\n"
                                        a(href="team-inner.html" class="thumb cover-center" style="background-image: url("+ require("../../images/team/image3.jpg") +")")
                                    .info.flex
                                        h3.name
                                            ="\n"
                                            a(href="team-inner.html") Name Surname
                                        p.position CEO, Founder
                            // User card
                        // Team department
                        |
                        |
                        .team-department.flex(data-aos="fade-in" data-aos-duration="900")
                            h2.section-title.text-center Staff
                            |
                            |
                            .user-card
                                .card-body.flex
                                    .avatar
                                        ="\n"
                                        a(href="team-inner.html" class="thumb cover-center" style="background-image: url("+ require("../../images/team/image4.jpg") +")")
                                    .info.flex
                                        h3.name
                                            ="\n"
                                            a(href="team-inner.html") Name Surname
                                        p.position CEO, Founder
                            // User card
                            |
                            |
                            .user-card
                                .card-body.flex
                                    .avatar
                                        ="\n"
                                        a(href="team-inner.html" class="thumb cover-center" style="background-image: url("+ require("../../images/team/image0.jpg") +")")
                                    .info.flex
                                        h3.name
                                            ="\n"
                                            a(href="team-inner.html") Name Surname
                                        p.position CEO, Founder
                            // User card
                            |
                            |
                            .user-card
                                .card-body.flex
                                    .avatar
                                        ="\n"
                                        a(href="team-inner.html" class="thumb cover-center" style="background-image: url("+ require("../../images/team/image1.jpg") +")")
                                    .info.flex
                                        h3.name
                                            ="\n"
                                            a(href="team-inner.html") Name Surname
                                        p.position CEO, Founder
                            // User card
                            |
                            |
                            .user-card
                                .card-body.flex
                                    .avatar
                                        ="\n"
                                        a(href="team-inner.html" class="thumb cover-center" style="background-image: url("+ require("../../images/team/image2.jpg") +")")
                                    .info.flex
                                        h3.name
                                            ="\n"
                                            a(href="team-inner.html") Name Surname
                                        p.position CEO, Founder
                            // User card
                        // Team department
                    // Col
        // Team members
        |
        |
        .team-bottom-text
            .container-fluid
                .row
                    .col-xl-10.offset-xl-1
                        p.info-text.text-center The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total.
        |
        |
        // Team bottom text
    // Team page
    |
    |

dist/team.html
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Azerbaijan Hotel Association</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>
		<div class="lds-css ng-scope">
			<div class="lds-spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<header>
			<div class="header-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="theme-toggler"><i class="icon-glasses"></i></div>
							<!-- Toggle theme-->

							<div class="sitemap">
								<a class="flex" href="sitemap.html"><i class="icon-list"></i>Sitemap
								</a>
							</div>
							<!-- Sitemap-->

							<div class="toggle-search" data-toggle="modal" data-target="#modal-search"><i class="icon-search"></i></div>
							<!-- Toggle search-->

							<div class="langs">
								<div class="dropdown">
									<button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
										EN<i class="icon-dropdown-arrow"></i>
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">RU</a>
										<a class="dropdown-item" href="#">AZ</a>
									</div>
								</div>
							</div>
							<!-- Langs-->
						</div>
					</div>
				</div>
			</div>
			<!-- Header top-->

			<div class="header-bottom">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="logo">
								<a href="index.html">
									<img src="images/logo.svg">
								</a>
							</div>
							<!-- Logo-->

							<nav class="main-menu hidden-1024">
								<ul>
									<li>
										<a href="javascript:void(0)">About Us</a>

										<ul class="submenu">
											<li>
												<a href="about.html">About Association</a>
											</li>
											<li>
												<a href="team.html">Team members</a>
											</li>
											<li>
												<a href="contact.html">Contact us</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="events.html">Events & Trainings</a>
									</li>
									<li>
										<a href="news.html">News & Media</a>
									</li>
									<li>
										<a href="javascript:void(0)">Membership</a>

										<ul class="submenu">
											<li>
												<a href="regular-membership.html">Regular membership</a>
											</li>
											<li>
												<a href="associate-membership.html">Associate membership</a>
											</li>
											<li>
												<a href="sponsorship.html">Sponsorship</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="classification.html">Classification</a>
									</li>
									<li>
										<a href="javascript:void(0)">Reports</a>

										<ul class="submenu">
											<li>
												<a href="statistics.html">Statistics reports</a>
											</li>
											<li>
												<a href="reports.html">Trends reports</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0)">Member's area</a>

										<ul class="submenu">
											<li>
												<a href="cabinet-upcoming-events.html">
													<i class="icon-hotel"></i>Bilgah Beach Hotel
												</a>
											</li>
											<li>
												<a href="account-index.html">
													<i class="icon-settings"></i>Account Setings
												</a>
											</li>
											<li>
												<a href="#">
													<i class="icon-logout"></i>Logout
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</nav>
							<!-- Main menu-->

							<div class="menu-toggler visible-1024">
								<span></span>
								<span></span>
								<span></span>
							</div>
							<!-- Menu toggler-->
						</div>
					</div>
				</div>
			</div>
			<!-- Header bottom-->

			<div class="side-menu visible-1024">
				<ul>
					<li>
						<a href="#menu-item0" data-toggle="collapse" aria-expanded="false">About Us</a>

						<div class="collapse" id="menu-item0">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="about.html">About Association</a>
									</li>
									<li>
										<a href="team.html">Team members</a>
									</li>
									<li>
										<a href="contact.html">Contact us</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="events.html">Events & Trainings</a>
					</li>
					<li>
						<a href="news.html">News & Media</a>
					</li>
					<li>
						<a href="#menu-item1" data-toggle="collapse" aria-expanded="false">Membership</a>

						<div class="collapse" id="menu-item1">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="regular-membership.html">Regular membership</a>
									</li>
									<li>
										<a href="associate-membership.html">Associate membership</a>
									</li>
									<li>
										<a href="sponsorship.html">Sponsorship</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="classification.html">Classification</a>
					</li>
					<li>
						<a href="#menu-item2" data-toggle="collapse" aria-expanded="false">Reports</a>

						<div class="collapse" id="menu-item2">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="statistics.html">Statistics reports</a>
									</li>
									<li>
										<a href="trends.html">Trends reports</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="#menu-item3" data-toggle="collapse" aria-expanded="false">Members area</a>

						<div class="collapse" id="menu-item3">
							<div class="collapse-content">
								<ul>
									<li>
										<a href="cabinet-upcoming-events.html">Bilgah Beach Hotel</a>
									</li>
									<li>
										<a href="account-index.html">Account Settings</a>
									</li>
									<li>
										<a href="#">Logout</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- Side menu-->
		</header>
		<!-- Header-->


		<div class="modal" id="modal-search" tabindex="-1">
			<div class="close-modal" data-dismiss="modal">
				<i class="icon-times"></i>
			</div>

			<div class="modal-dialog">
				<div class="modal-content">
					<form class="search-form" action="#" method="GET">
						<div class="form-group">
							<input class="form-control" type="text" minlength="3" placeholder="Search" required>
						</div>

						<button class="submit-search" type="submit">
							<i class="icon-search"></i>
						</button>

						<button class="clear-search" type="button">
							<i class="icon-times"></i>
						</button>
					</form>
					<!-- Search form-->

					<div class="search-results">
						<div class="search-item flex">
							<div class="image">
								<a href="#">
									<img src="images/events/image0.jpg">
								</a>
							</div>
							<div class="info"><a class="title" href="#">International Conference on Application of Information and Communication Technologies</a>
								<div class="description">
									<p>Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details...<a href="#">Read More</a></p>
								</div>
							</div>
						</div>
						<!-- Search item-->

						<div class="search-item flex">
							<div class="image">
								<a href="#">
									<img src="images/events/image1.jpg">
								</a>
							</div>
							<div class="info"><a class="title" href="#">International Conference on Application of Information and Communication Technologies</a>
								<div class="description">
									<p>Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details...<a href="#">Read More</a></p>
								</div>
							</div>
						</div>
						<!-- Search item-->
					</div>
					<!-- Search results-->

					<div class="latest-trainings hidden-768">
						<div class="row">
							<div class="col-12">
								<h3 class="block-title">Latest events & trainings</h3>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image0.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">45th International Association for Educational Assessment Conference</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image1.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">CIS & Eastern Europe Coatings Conference</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->

							<div class="col-sm-4">
								<div class="event-block flex">
									<div class="image">
										<a href="event-inner.html">
											<div class="swiper-lazy cover-center" style="background-image: url(images/events/image2.jpg)"></div>
										</a>
									</div>
									<div class="info flex">
										<h3 class="title">
											<a href="event-inner.html">International Conference on Application of Information and Communication Technologies</a>
										</h3>
									</div>
								</div>
							</div>
							<!-- Col-->
						</div>
					</div>
					<!-- Latest events & trainings-->
				</div>
			</div>
		</div>
		<!-- Modal Search-->

		<main class="content">
			<div class="breadcrumb-container">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<nav>
								<ol class="breadcrumb">
									<li class="breadcrumb-item">
										<a href="index.html">Home</a>
									</li>
									<li class="breadcrumb-item">
										<a href="about.html">About Us</a>
									</li>
									<li class="breadcrumb-item">Team Members</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- Breadcrumbs-->

			<section class="team-page">
				<div class="page-intro centered">
					<div class="intro-content cover-center" style="background-image: url(images/team-bg.jpg)"></div>

					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<h1 class="title" data-aos="zoom-in" data-aos-duration="1500">Team Members</h1>
								<p data-aos="fade-in" data-aos-duration="1500">Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Page intro-->

				<div class="page-categories">
					<ul class="flex">
						<li>
							<a href="about.html">About Association</a>
						</li>
						<li class="active">
							<a href="team.html">Team members</a>
						</li>
						<li>
							<a href="contact.html">Contact us</a>
						</li>
					</ul>
				</div>
				<!-- Page categories-->

				<div class="page-short-text ptb-9">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xl-10 offset-xl-1">
								<div class="editor-body text-center">
									<p>The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Page short text-->

				<div class="team-members">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="team-department flex" data-aos="fade-in" data-aos-duration="900">
									<h2 class="section-title text-center">Executive board</h2>

									<div class="user-card">
										<div class="card-body flex">
											<div class="avatar">
												<a class="thumb cover-center" href="team-inner.html" style="background-image: url(images/team/image0.jpg)"></a>
											</div>
											<div class="info flex">
												<p class="he-is">President</p>
												<h3 class="name">
													<a href="team-inner.html">Martin Kleinmann</a>
												</h3>
												<p class="position">CEO at Absheron Hotel Group</p>
											</div>
										</div>
									</div>
									<!-- User card-->
								</div>
								<!-- Team department-->

								<div class="team-department flex" data-aos="fade-in" data-aos-duration="900">
									<h2 class="section-title text-center">Executive office</h2>

									<div class="user-card">
										<div class="card-body flex">
											<div class="avatar">
												<a class="thumb cover-center" href="team-inner.html" style="background-image: url(images/team/image1.jpg)"></a>
											</div>
											<div class="info flex">
												<h3 class="name">
													<a href="team-inner.html">Name Surname</a>
												</h3>
												<p class="position">CEO, Founder</p>
											</div>
										</div>
									</div>
									<!-- User card-->

									<div class="user-card">
										<div class="card-body flex">
											<div class="avatar">
												<a class="thumb cover-center" href="team-inner.html" style="background-image: url(images/team/image2.jpg)"></a>
											</div>
											<div class="info flex">
												<h3 class="name">
													<a href="team-inner.html">Name Surname</a>
												</h3>
												<p class="position">CEO, Founder</p>
											</div>
										</div>
									</div>
									<!-- User card-->

									<div class="user-card">
										<div class="card-body flex">
											<div class="avatar">
												<a class="thumb cover-center" href="team-inner.html" style="background-image: url(images/team/image3.jpg)"></a>
											</div>
											<div class="info flex">
												<h3 class="name">
													<a href="team-inner.html">Name Surname</a>
												</h3>
												<p class="position">CEO, Founder</p>
											</div>
										</div>
									</div>
									<!-- User card-->
								</div>
								<!-- Team department-->

								<div class="team-department flex" data-aos="fade-in" data-aos-duration="900">
									<h2 class="section-title text-center">Staff</h2>

									<div class="user-card">
										<div class="card-body flex">
											<div class="avatar">
												<a class="thumb cover-center" href="team-inner.html" style="background-image: url(images/team/image4.jpg)"></a>
											</div>
											<div class="info flex">
												<h3 class="name">
													<a href="team-inner.html">Name Surname</a>
												</h3>
												<p class="position">CEO, Founder</p>
											</div>
										</div>
									</div>
									<!-- User card-->

									<div class="user-card">
										<div class="card-body flex">
											<div class="avatar">
												<a class="thumb cover-center" href="team-inner.html" style="background-image: url(images/team/image0.jpg)"></a>
											</div>
											<div class="info flex">
												<h3 class="name">
													<a href="team-inner.html">Name Surname</a>
												</h3>
												<p class="position">CEO, Founder</p>
											</div>
										</div>
									</div>
									<!-- User card-->

									<div class="user-card">
										<div class="card-body flex">
											<div class="avatar">
												<a class="thumb cover-center" href="team-inner.html" style="background-image: url(images/team/image1.jpg)"></a>
											</div>
											<div class="info flex">
												<h3 class="name">
													<a href="team-inner.html">Name Surname</a>
												</h3>
												<p class="position">CEO, Founder</p>
											</div>
										</div>
									</div>
									<!-- User card-->

									<div class="user-card">
										<div class="card-body flex">
											<div class="avatar">
												<a class="thumb cover-center" href="team-inner.html" style="background-image: url(images/team/image2.jpg)"></a>
											</div>
											<div class="info flex">
												<h3 class="name">
													<a href="team-inner.html">Name Surname</a>
												</h3>
												<p class="position">CEO, Founder</p>
											</div>
										</div>
									</div>
									<!-- User card-->
								</div>
								<!-- Team department-->
							</div>
							<!-- Col-->
						</div>
					</div>
				</div>
				<!-- Team members-->

				<div class="team-bottom-text">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xl-10 offset-xl-1">
								<p class="info-text text-center">The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total.</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Team bottom text-->
			</section>
			<!-- Team page-->

		</main>

		<footer>
			<div class="footer-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Introduction</a></li>
								<li><a href="#">Our Goals</a></li>
								<li><a href="#">Organization of the Association</a></li>
								<li><a href="#">Statue</a></li>
								<li><a href="#">Code of Ethics</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Membership</a></li>
								<li><a href="#">Membership benefits and conditions</a></li>
								<li><a href="#">Become a Member</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Events & Trainings</a></li>
								<li><a href="#">Calendar</a></li>
								<li><a href="#">Search event</a></li>
								<li><a href="#">Registration for Event or Training</a></li>
								<li><a href="#">Event archive</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">News & Media</a></li>
								<li><a href="#">Calendar</a></li>
								<li><a href="#">Search news</a></li>
								<li><a href="#">Subscribe for News</a></li>
								<li><a href="#">Event archive</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<ul>
								<li><a href="#">Classification</a></li>
							</ul>
						</div>
						<!-- Col-->

						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
							<div class="contact-info">
								<p>Marketing Department</p><a class="phone" href="tel:8-(800)-700-43-43">8 (800) 700-43-43</a>
								<a class="email" href="mailto:office@tourismboard.az"><i class="icon-mail"></i>office@tourismboard.az</a>

								<ul class="socials">
									<li>
										<a href="https://facebook.com" target="_blank"><i class="icon-facebook"></i></a>
									</li>
									<li>
										<a href="https://twitter.com" target="_blank"><i class="icon-twitter"></i></a>
									</li>
									<li>
										<a href="https://instagram.com" target="_blank"><i class="icon-instagram"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<!-- Col-->
					</div>
				</div>
			</div>
			<!-- Footer top-->

			<div class="footer-bottom hidden-576">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<div class="theme-toggler"><i class="icon-glasses"></i></div>
							<!-- Toggle theme-->

							<div class="sitemap">
								<a class="flex" href="sitemap.html"><i class="icon-list"></i>Sitemap
								</a>
							</div>
							<!-- Sitemap-->

							<div class="toggle-search" data-toggle="modal" data-target="#modal-search"><i class="icon-search"></i></div>
							<!-- Toggle search-->

							<div class="langs">
								<div class="dropdown">
									<button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
										EN<i class="icon-dropdown-arrow"></i>
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">RU</a>
										<a class="dropdown-item" href="#">AZ</a>
									</div>
								</div>
							</div>
							<!-- Langs-->
						</div>
					</div>
				</div>
			</div>
			<!-- Footer bottom-->

			<div class="copyrights">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<p>© 2019. Azerbaijan Hotel Association</p>

							<ul>
								<li><a href="terms.html">Terms and conditions</a></li>
								<li><a href="policy.html">Privacy policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Copyrights-->
		</footer>

		<script src="js/jquery.js"></script>
		<script src="js/toastr.js"></script>
		<script src="js/photoUpload.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>

</html>
