dist/update-subscription.html
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Azerbaijan Hotel Association</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>
		<div class="lds-css ng-scope">
			<div class="lds-spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<main class="content">
			<div class="form-page flex-center">
				<div class="form-page-content">
					<h1 class="form-title text-center">Update Your Membership Plan</h1>
					<p class="form-subtitle text-center">Some description about reseting password... Please choose the exhibition and fill the registration form for collective</p>

					<div class="form-wrapper">
						<form action="#" method="POST">
							<div class="form-group select">
								<select class="form-control">
									<option value="associate">Associate Membership</option>
									<option value="regular">Regular Membership</option>
								</select>
							</div>

							<div class="form-group select">
								<select class="form-control">
									<option selected>Type of membership</option>
									<option value="associate">Associate Membership</option>
									<option value="regular">Regular Membership</option>
								</select>
							</div>

							<button class="btn-custom btn-block">Apply</button>

							<div class="text-center membership-plans">
								<a href="regular-membership.html">Membership plans</a>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- Update subscription-->

		</main>

		<script src="js/jquery.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>

</html>

src/pug/pages/update-subscription.pug
extends ../layout/empty-layout.pug

block content
    .form-page.flex-center
        .form-page-content
            h1.form-title.text-center Update Your Membership Plan
            p.form-subtitle.text-center Some description about reseting password... Please choose the exhibition and fill the registration form for collective
            |
            |
            .form-wrapper
                form(action="#" method="POST")
                    .form-group.select
                        select(class="form-control")
                            option(value="associate") Associate Membership
                            option(value="regular") Regular Membership
                    |
                    |
                    .form-group.select
                        select(class="form-control")
                            option(selected) Type of membership
                            option(value="associate") Associate Membership
                            option(value="regular") Regular Membership
                    |
                    |
                    button(class="btn-custom btn-block") Apply
                    |
                    |
                    .text-center.membership-plans
                        ="\n"
                        a(href="regular-membership.html") Membership plans
    // Update subscription
    |
    |
